<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="dataMapper">

	<resultMap id="dataBaseMap" type="XMLMap">
		<result
	    	property="wfs:FeatureCollection"
	    	column="%ROOT_ELEMENT"
			javaType="string" />
	    <result
	    	property="xmlns:wfs=http://www.opengis.net/wfs/2.0"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
	    <result
	    	property="xmlns:gml=http://www.opengis.net/gml/3.2"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
	    	property="xmlns:gsml=urn:cgi:xmlns:CGI:GeoSciML:2.0"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
	    	property="xmlns:swml=http://www.nrcan.gc.ca/xml/swml/1"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
	    	property="xmlns:om=http://www.opengis.net/om/2.0"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
	    	property="xmlns:sa=http://www.opengis.net/sampling/2.0"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
    		property="xmlns:xlink=http://www.w3.org/1999/xlink"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
    		property="xmlns:xs=http://www.w3.org/2001/XMLSchema"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
    		property="xmlns:xsi=http://www.w3.org/2001/XMLSchema-instance"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="xmlns:wml2=http://www.opengis.net/waterml/2.0"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="xmlns:gmd=http://www.isotc211.org/2005/gmd"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="xmlns:sf=http://www.opengis.net/sampling/2.0"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="xmlns:sams=http://www.opengis.net/samplingSpatial/2.0"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
<!-- Dynamic Root attributes? -->
                <result
    		property="timeStamp=2011-11-11"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
  <!--              <result
    		property="timeStamp=%s"
    		column="currentPosition"
			javaType="string" />
 -->
                <result
    		property="numberMatched=1"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
                <result
    		property="numberReturned=1"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />

                <result
    		property="xsi:schemaLocation= http://www.opengis.net/om/2.0 ../observation.xsd
http://www.opengis.net/gml/3.2 http://schemas.opengis.net/gml/3.2.1/gml.xsd
http://www.opengis.net/sampling/2.0 ../samplingFeature.xsd
http://www.opengis.net/waterml/2.0 ../waterml2.xsd
http://www.opengis.net/swe/2.0 http://schemas.opengis.net/sweCommon/2.0/swe.xsd"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
<!--
                <result
    		property="xsi:schemaLocation=http://www.opengis.net/om/1.0 http://schemas.opengis.net/om/1.0.0/om.xsd"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
-->
	</resultMap>
	
	<resultMap id="dataResultMap" type="XMLMap" extends="dataBaseMap">
 <!--
                 <id
	 		property="^!{wfs:boundedBy"
	 		column="FEATURE_ID"
			javaType="string" />
-->
                <result
			property="^!{wfs:boundedBy/gml:Envelope#srsName=%s"
			column="coord_datum"
			javaType="string" />
                <result
			property="wfs:boundedBy/gml:Envelope/gml:lowerCorner"
			column="lower"
			javaType="string" />
		<result
			property="wfs:boundedBy/gml:Envelope/gml:upperCorner"
			column="upper"
			javaType="string" />
		<result
			property="}^!{wfs:member/om:featureOfInterest/^gml:name"
			column="station_nm"
			javaType="string" />
		<result
			property="wfs:member/om:featureOfInterest/gml:name"
			column="station_nm"
			javaType="string" />
		<result
			property="wfs:member/om:featureOfInterest/^wml2:WaterMonitoringPoint#gml:id=USGS.WMP.%s"
			column="site_no"
			javaType="string" />
		<result
			property="wfs:member/om:featureOfInterest/wml2:WaterMonitoringPoint/^sf:sampledFeature#xlink:ref=%s"
			column="state_site"
			typeHandler="USGS_URL_TypeHandler" />
		<result
			property="wfs:member/om:featureOfInterest/wml2:WaterMonitoringPoint/sf:parameter/om:NamedValue/om:name#xlink:title=Watershed"
			column="huc_nm"
			javaType="string" />
		<result
			property="wfs:member/om:featureOfInterest/wml2:WaterMonitoringPoint/sf:parameter/om:NamedValue/om:value"
			column="huc_nm"
			javaType="string" />
		<result
			property="wfs:member/om:featureOfInterest/wml2:WaterMonitoringPoint/sams:shape/^gml:Point#gml:id=USGS.P.%s"
			column="site_no"
			javaType="string" />
		<result
			property="wfs:member/om:featureOfInterest/wml2:WaterMonitoringPoint/sams:shape/gml:Point/^gml:pos#srsName=urn:ogc:def:crs:EPSG:4269"
			column="LON_LAT"
			javaType="string" />
		<result
			property="wfs:member/om:featureOfInterest/wml2:WaterMonitoringPoint/sams:shape/gml:Point/gml:pos"
			column="LON_LAT"
			javaType="string" />
		<result
			property="wfs:member/om:featureOfInterest/wml2:WaterMonitoringPoint/^wml2:descriptionReference#xlink:href=http://external.opengis.org/twiki_public/bin/view/HydrologyDWG/SurfacewaterInteroperabilityExperiment#Use_Case_2"
			column="site_no"
			javaType="string" />
		<result
			property="wfs:member/om:featureOfInterest/wml2:WaterMonitoringPoint/wml2:descriptionReference#xlink:title=This wiki page describes the IE"
			column="site_no"
			javaType="string" />
		<result
			property="wfs:member/om:featureOfInterest/wml2:WaterMonitoringPoint/wml2:timeZone/wml2:TimeZone/^wml2:zoneOffset"
			column="tz_utc_offset_tm"
			javaType="string" />
		<result
			property="}wfs:member/om:featureOfInterest/wml2:WaterMonitoringPoint/wml2:timeZone/wml2:TimeZone/^wml2:zoneAbbreviation"
			column="tz_cd"
			javaType="string" />
		<result
			property="}wfs:member/om:featureOfInterest/wml2:WaterMonitoringPoint/wml2:owner/gmd:organisationName/^gmd:CharacterString=%s Water Science Center"
			column="district_cd"
			typeHandler="StateFullNameTypeHandler" />

	</resultMap>

	<select id="dataSelect" parameterType="map" resultMap="dataResultMap" fetchSize="1024" useCache="false" resultSetType="FORWARD_ONLY">

        SELECT c.site_no,
        c.agency_cd,
        c.station_nm,
        CONCAT(CONVERT(c.dec_lat_va,CHAR),' ',CONVERT(c.dec_long_va,CHAR)) AS Lon_Lat,
        c.district_cd,
        c.tz_cd,
        f.tz_utc_offset_tm,
        e.parameter_nm,
        CONCAT(c.state_cd,'.',c.site_no) as state_site,
        MIN(b.result_dt) AS BeginPosition,
        MAX(b.result_dt) AS EndPosition,
        (CASE
           WHEN c.dec_coord_datum_cd = 'NAD83' THEN 'urn:ogc:def:crs:EPSG:4269'
           ELSE c.dec_coord_datum_cd
        END) coord_datum,
        s.lowerPosition AS lower,
        s.upperPosition AS upper,
        d.huc_nm

        FROM (
             <choose>

                 <when test="bBox != null">
                      SELECT b.site_no,
                      CONCAT(#{bBox[0]},' ', #{bBox[1]}) as lowerPosition,
                      CONCAT(#{bBox[2]},' ', #{bBox[3]}) as upperPosition
                      FROM nwisweb.SITEFILE b
                      WHERE b.site_no = '01446500'
                 </when>

                 <otherwise>
                      SELECT b.site_no,
                      CONCAT(MAX(b.dec_lat_va),' ',MIN(b.dec_long_va)) as lowerPosition,
                      CONCAT(MIN(b.dec_lat_va),' ',MAX(b.dec_long_va)) as upperPosition
                      FROM nwisweb.SITEFILE b
                      <choose>
                            <when test="featureId != null">
                                   WHERE b.site_no IN (#{featureId})
                            </when>
                            <otherwise>
                                    WHERE b.site_no IN (
                                    '01427207','01427510','01434000','01438500','01457500','01463500',
                                    '04073365','04073500','04082400','04084445','040851385','05344500',
                                    '05378500','05389500','05391000','05395000','05404000','05407000',
                                    '05420500','05543500','05543830','05545750','05551540','05552500',
                                    '05558300','05568500','05586100','07010000','07020500',
                                    '07022000','05051500','05054000','05082500','04269000','040851385',
                                    '04010500','04024000','04024430','04027000','04027500','04040000','04045500','04059000',
                                    '04059500','04067500','04069500','04071765','04085427','04086000','04087000','04092750','04095090',
                                    '04102500','04121970','04122200','04122500','04137500','04142000','04157000','04159492','04165500',
                                    '04174500','04176500','04193500','04195820','04198000','04199000','04199500','04200500','04201500',
                                    '04208000','04212100','04213500','04218000','04231600','04249000','04260500','04263000','04265432'
                            )
                            </otherwise>
                        </choose>
                  </otherwise>
              </choose>
   
                    ) s,

        nwisweb.DV_DD_CONF a,
        nwisweb.DV b,
        nwisweb.SITEFILE c,
        nwisweb.HUCS d,
        nwisweb.PARAM_REF e,
        nwisweb.TZ f

        <choose>
              <when test="featureId != null">
                        WHERE c.site_no IN (#{featureId})
              </when>

              <when test="bBox != null">
                        WHERE c.dec_long_va BETWEEN #{bBox[0]} AND #{bBox[2]} AND c.dec_lat_va BETWEEN #{bBox[1]} AND #{bBox[3]}
              </when>

              <otherwise>
                        WHERE c.site_no IN (
                                    '01427207','01427510','01434000','01438500','01457500','01463500',
                                    '04073365','04073500','04082400','04084445','040851385','05344500',
                                    '05378500','05389500','05391000','05395000','05404000','05407000',
                                    '05420500','05543500','05543830','05545750','05551540','05552500',
                                    '05558300','05568500','05586100','07010000','07020500',
                                    '07022000','05051500','05054000','05082500','04269000','040851385',
                                    '04010500','04024000','04024430','04027000','04027500','04040000','04045500','04059000',
                                    '04059500','04067500','04069500','04071765','04085427','04086000','04087000','04092750','04095090',
                                    '04102500','04121970','04122200','04122500','04137500','04142000','04157000','04159492','04165500',
                                    '04174500','04176500','04193500','04195820','04198000','04199000','04199500','04200500','04201500',
                                    '04208000','04212100','04213500','04218000','04231600','04249000','04260500','04263000','04265432'
                                    )
                </otherwise>
         </choose>

        AND a.site_id = b.site_id
        AND a.dd_nu = b.dd_nu
        AND c.site_id = a.site_id
        AND a.parameter_cd = e.parameter_cd
        AND c.huc_cd = d.huc_cd
        AND f.tz_cd = c.tz_cd

        GROUP BY c.site_no, a.parameter_cd

	</select>
</mapper> 

