<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="dataMapper">

	<resultMap id="dataBaseMap" type="XMLMap">
            <result
	    	property="gda:GetDataAvailablity"
	    	column="%ROOT_ELEMENT"
			javaType="string" />
             <result
	    	property="xmlns:gda=http://www.opengis.net/sosgda/1.0"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
	    	property="xmlns:swes=http://www.opengis.net/swes/2.0"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="xmlns:xsi=http://www.w3.org/2001/XMLSchema-instance"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
	    <result
	    	property="xmlns:gml=http://www.opengis.net/gml/3.2"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="xmlns:xlink=http://www.w3.org/1999/xlink"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="xsi:schemaLocation= http://www.opengis.net/sosgda/1.0 ../sosGetDataAvailability.xsd"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
	</resultMap>

	<resultMap id="dataResultMap_1" type="XMLMap" extends="dataBaseMap">
                <association property="UNUSED" column="{featureId=featureId,observedProperty=observedProperty,beginPosition=beginPosition, endPosition = endPosition,offering = offering,bBox0=bBox0,bBox1=bBox1,bBox2=bBox2,bBox3=bBox3}" select="dataSelect" javaType="list" />
                <association property="UNUSED" column="{featureId=featureId,observedProperty=observedProperty,beginPosition=beginPosition, endPosition = endPosition,offering = offering,bBox0=bBox0,bBox1=bBox1,bBox2=bBox2,bBox3=bBox3}" select="dataPropertySelect" javaType="list" />
                <association property="UNUSED" column="{featureId=featureId,observedProperty=observedProperty,beginPosition=beginPosition, endPosition = endPosition,offering = offering,bBox0=bBox0,bBox1=bBox1,bBox2=bBox2,bBox3=bBox3}" select="dataFeatureSelect" javaType="list" />

	</resultMap>
	
	<resultMap id="dataResultMap" type="XMLMap" extends="dataBaseMap">

		<result
			property="^!{gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship"
			column="parameterSite"
			javaType="string" />
		<result
			property="gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship#swes:id=FPTR_ID_%s"
			column="parameterSite"
			javaType="string" />
		<result
			property="gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship/gda:phenomenonTime/gml:TimePeriod#gml:id=TID-%s"
			column="parameter_cd"
			javaType="string" />
		<result
			property="gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship/gda:phenomenonTime/gml:TimePeriod/gml:beginPosition"
			column="BeginPosition"
			javaType="string" />
		<result
			property="gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship/gda:phenomenonTime/gml:TimePeriod/gml:endPosition"
			column="EndPosition"
			javaType="string" />
		<result
			property="gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship/gda:targetFeature#xlink:href=#FID_%s"
			column="site_no"
			javaType="string" />
		<result
			property="gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship/gda:targetFeature#xlink:title"
			column="station_nm"
			javaType="string" />
		<result
			property="gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship/gda:targetProperty#xlink:href=#PID_%s"
			column="parameter_cd"
			javaType="string" />
		<result
			property="gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship/gda:targetProperty#xlink:title"
			column="parameter_nm"
			javaType="string" />
<!--		<result
			property="}gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship/gda:targetProperty#x-offering"
			column="stat_nm"
			javaType="string" />-->

	</resultMap>

	<resultMap id="dataPropertyMap" type="XMLMap" extends="dataBaseMap">
        	<result
			property="^!{gda:propertyEntryPoint"
			column="parameter_cd"
			javaType="string" />
        	<result
			property="gda:propertyEntryPoint/gda:ObservedPropertyInfo#swes:id=PID_%s"
			column="parameter_cd"
			javaType="string" />
<!--		<result
			property="}gda:propertyEntryPoint/gda:ObservedPropertyInfo/gda:property#xlink:href"
			column="parameter_nm"
			javaType="string" />-->
<!--		<result
			property="}gda:propertyEntryPoint/gda:ObservedPropertyInfo/gda:property#xlink:title"
			column="parameter_nm"
			javaType="string" />-->
		<result
			property="}gda:propertyEntryPoint/gda:ObservedPropertyInfo/gda:property"
			column="parameter_URI"
			javaType="string" />
		<result
			property="gda:propertyEntryPoint/gda:ObservedPropertyInfo/^gda:observedFor#xlink:href=#FPTR_ID_%s"
			column="parameterSite"
			javaType="string" />
<!--		<result
			property="gda:propertyEntryPoint/gda:ObservedPropertyInfo/gda:observedFor#xlink:title"
			column="station_nm"
			javaType="string" />-->
<!--		<result
			property="gda:propertyEntryPoint/gda:ObservedPropertyInfo/gda:observedFor#x-offering"
			column="stat_nm"
			javaType="string" />-->
        </resultMap>

	<resultMap id="dataFeatureMap" type="XMLMap" extends="dataBaseMap">
        	<result
			property="^!{gda:featureOfInterestEntryPoint"
			column="site_no"
			javaType="string" />
        	<result
			property="gda:featureOfInterestEntryPoint/gda:FeatureOfInterestInfo#swes:id=FID_%s"
			column="site_no"
			javaType="string" />
<!--		<result
			property="}gda:featureOfInterestEntryPoint/gda:FeatureOfInterestInfo/gda:feature#xlink:title"
			column="station_nm"
			javaType="string" />-->
		<result
			property="}gda:featureOfInterestEntryPoint/gda:FeatureOfInterestInfo/gda:feature"
			column="station_URI"
			javaType="string" />
		<result
			property="gda:featureOfInterestEntryPoint/gda:FeatureOfInterestInfo/^gda:relatedProperty#xlink:href=#FPTR_ID_%s"
			column="parameterSite"
			javaType="string" />
		<result
			property="gda:featureOfInterestEntryPoint/gda:FeatureOfInterestInfo/gda:relatedProperty#xlink:title"
			column="parameter_nm"
			javaType="string" />
<!--		<result
			property="gda:featureOfInterestEntryPoint/gda:FeatureOfInterestInfo/gda:relatedProperty#x-offering"
			column="stat_nm"
			javaType="string" />-->
        </resultMap>

        <select id="dataSelect_1" parameterType="map" resultMap="dataResultMap_1" fetchSize="1024" useCache="false" resultSetType="FORWARD_ONLY">
            SELECT
            <choose>
                 <when test="featureId != null">
                    #{featureId[0]} as featureId,
                </when>
                <otherwise>
                    null as featureId,
                </otherwise>
            </choose>
            <choose>
                 <when test="observedProperty != null">
                    #{observedProperty[0]} as observedProperty,
                </when>
                <otherwise>
                    null as observedProperty,
                </otherwise>
            </choose>
            <choose>
                 <when test="beginPosition != null">
                    #{beginPosition[0]} as beginPosition,
                </when>
                <otherwise>
                    null as beginPosition,
                </otherwise>
            </choose>
            <choose>
                 <when test="endPosition != null">
                    #{endPosition[0]} as endPosition,
                </when>
                <otherwise>
                    null as endPosition,
                </otherwise>
            </choose>
            <choose>
                 <when test="offering != null">
                    #{offering[0]} as offering,
                </when>
                <otherwise>
                    null as offering,
                </otherwise>
            </choose>
            <choose>
                 <when test="bBox != null">
                    #{bBox[0]} as bBox0,
                    #{bBox[1]} as bBox1,
                    #{bBox[2]} as bBox2,
                    #{bBox[3]} as bBox3
                </when>
                <otherwise>
                    null as bBox0,
                    null as bBox1,
                    null as bBox2,
                    null as bBox3
                </otherwise>
            </choose>
            FROM dual

        </select>

	<select id="dataSelect" parameterType="map" resultMap="dataResultMap" fetchSize="1024" useCache="false" resultSetType="FORWARD_ONLY">
            SELECT c.site_no,
            c.station_nm,
            CONCAT (e.parameter_nm,' (',e.parameter_units,') Daily ',CONCAT(UPPER(SUBSTRING(d.stat_nm, 1, 1)), LOWER(SUBSTRING(d.stat_nm FROM 2)))) AS parameter_nm,
            CONCAT (e.parameter_nm,' (',CONCAT(UPPER(SUBSTRING(d.stat_nm, 1, 1)), LOWER(SUBSTRING(d.stat_nm FROM 2))),')') AS parameter_nm_stat,
            CONCAT (e.parameter_cd,'_',b.stat_cd) AS parameter_cd,
            b.begin_dt AS BeginPosition,
            b.end_dt AS EndPosition,
            CONCAT(e.parameter_cd,'_',c.site_no,'_',b.stat_cd) AS parameterSite,
            CONCAT(UPPER(SUBSTRING(d.stat_nm, 1, 1)), LOWER(SUBSTRING(d.stat_nm FROM 2)))

            FROM
            nwisweb.DV_DD_CONF a,
            nwisweb.DV_POR b,
            nwisweb.SITEFILE c,
            nwisweb.PARAM_REF e,
            nwisweb.STAT d

            <choose>
                  <when test="featureId != null">
                            WHERE c.site_no IN (#{featureId})
                  </when>
<!--                <when test="featureId != null">
                    WHERE c.site_no IN <foreach item="i" collection="featureId" open="(" separator="," close=")">#{i}</foreach>
                </when>-->
                  <when test="bBox0 != null">
                            WHERE c.dec_long_va BETWEEN #{bBox0} AND #{bBox2} AND c.dec_lat_va BETWEEN #{bBox1} AND #{bBox3}
                  </when>

                  <otherwise>
                            WHERE c.site_no IN (
                                    '01427207','01427510','01434000','01438500','01457500','01463500',
                                    '04073365','04073500','04082400','04084445','040851385','05344500',
                                    '05378500','05389500','05391000','05395000','05404000','05407000',
                                    '05420500','05543500','05543830','05545750','05551540','05552500',
                                    '05558300','05568500','05586100','07010000','07020500',
                                    '07022000','05051500','05054000','05082500','04269000','040851385',
                                    '04010500','04024000','04024430','04027000','04027500','04040000','04045500','04059000',
                                    '04059500','04067500','04069500','04071765','04085427','04086000','04087000','04092750','04095090',
                                    '04102500','04121970','04122200','04122500','04137500','04142000','04157000','04159492','04165500',
                                    '04174500','04176500','04193500','04195820','04198000','04199000','04199500','04200500','04201500',
                                    '04208000','04212100','04213500','04218000','04231600','04249000','04260500','04263000','04265432',

                                <!-- NASQAN Coastal Subnetwork -->

                                    '01578310','01646580','02226160','02470500','04264331','07374525',
                                    '07381495','08475000','09522000','11303500','11447650','14246900','15565447'
                                        )
                    </otherwise>
             </choose>

            <if test="observedProperty != null">
                AND a.parameter_cd = (#{observedProperty})
            </if>

            <if test="offering != null">
                AND b.stat_cd = (#{offering})
            </if>

            <if test="beginPosition != null">
                AND b.result_dt <![CDATA[ >= ]]> STR_TO_DATE(#{beginPosition}, '%Y-%m-%d')
            </if>

            <if test="endPosition != null">
                AND b.result_dt <![CDATA[ <= ]]> CONCAT(STR_TO_DATE(#{endPosition}, '%Y-%m-%d'),' 23:45')
            </if>

            AND a.site_id = b.site_id
            AND a.dd_nu = b.dd_nu
            AND c.site_id = a.site_id
            AND a.parameter_cd = e.parameter_cd
            AND a.access_cd = '0'
            AND b.dv_por_cd = 'T'
            AND b.stat_cd = d.stat_cd
            AND c.site_web_cd = 'Y'

            GROUP BY c.site_no, a.parameter_cd, d.stat_nm
       <if test="offering == null or (offering != null and (offering == 'UNIT' or offering == '00000'))">
            UNION

            SELECT
            a.site_no,
            a.station_nm,
            CONCAT (d.parameter_nm,' (',d.parameter_units,') Continuous') AS parameter_nm,
            CONCAT (d.parameter_nm,' (Unit)') AS parameter_nm_stat,
            CONCAT (d.parameter_cd,'_00000') AS parameter_cd,
            MIN(b.result_dt) AS BeginPosition,
            MAX(b.result_dt) AS EndPosition,
            CONCAT(d.parameter_cd,'_',a.site_no,'_00000') AS parameterSite,
            'Unit' as stat_nm

            FROM (
                SELECT DISTINCT
                site_id,
                site_no,
                station_nm,
                dec_long_va,
                dec_lat_va
                FROM nwisweb.SITEFILE
                <choose>
                      <when test="featureId != null">
                                WHERE site_no IN (#{featureId})
                      </when>
<!--                <when test="featureId != null">
                    WHERE site_no IN <foreach item="i" collection="featureId" open="(" separator="," close=")">#{i}</foreach>
                </when>-->
                      <when test="bBox0 != null">
                                WHERE dec_long_va BETWEEN #{bBox0} AND #{bBox2} AND dec_lat_va BETWEEN #{bBox1} AND #{bBox3}
                                AND site_web_cd = 'Y'
                      </when>
                      <otherwise>
                                WHERE site_no IN (
                                        '01427207','01427510','01434000','01438500','01457500','01463500',
                                        '04073365','04073500','04082400','04084445','040851385','05344500',
                                        '05378500','05389500','05391000','05395000','05404000','05407000',
                                        '05420500','05543500','05543830','05545750','05551540','05552500',
                                        '05558300','05568500','05586100','07010000','07020500',
                                        '07022000','05051500','05054000','05082500','04269000','040851385',
                                        '04010500','04024000','04024430','04027000','04027500','04040000','04045500','04059000',
                                        '04059500','04067500','04069500','04071765','04085427','04086000','04087000','04092750','04095090',
                                        '04102500','04121970','04122200','04122500','04137500','04142000','04157000','04159492','04165500',
                                        '04174500','04176500','04193500','04195820','04198000','04199000','04199500','04200500','04201500',
                                        '04208000','04212100','04213500','04218000','04231600','04249000','04260500','04263000','04265432',

                                    <!-- NASQAN Coastal Subnetwork -->

                                        '01578310','01646580','02226160','02470500','04264331','07374525',
                                        '07381495','08475000','09522000','11303500','11447650','14246900','15565447'
                                            )
                                 AND site_web_cd = 'Y'
                        </otherwise>
                 </choose>
                ) a,

                nwisweb.UV b,
                nwisweb.UV_DD_CONF c,
                nwisweb.PARAM_REF d

            WHERE a.site_id = b.site_id
            AND b.site_id = c.site_id
            AND b.dd_nu = c.dd_nu
            <if test="observedProperty != null">
                AND c.parameter_cd = (#{observedProperty})
            </if>

            AND c.access_cd = '0'
            AND c.parameter_cd = d.parameter_cd


            GROUP BY a.site_no, c.parameter_cd
       </if>
            ORDER BY parameter_cd

	</select>

	<select id="dataFeatureSelect" parameterType="map" resultMap="dataFeatureMap" fetchSize="1024" useCache="false" resultSetType="FORWARD_ONLY">
            SELECT c.site_no,
            c.agency_cd,
            c.station_nm,
            CONCAT (e.parameter_nm,' (',e.parameter_units,') Daily ',CONCAT(UPPER(SUBSTRING(d.stat_nm, 1, 1)), LOWER(SUBSTRING(d.stat_nm FROM 2)))) AS parameter_nm,
            CONCAT (e.parameter_nm,' (',d.stat_nm,')') AS parameter_nm_stat,
            CONCAT(e.parameter_cd,'_',c.site_no,'_',d.stat_cd) AS parameterSite,
            CONCAT(UPPER(SUBSTRING(d.stat_nm, 1, 1)), LOWER(SUBSTRING(d.stat_nm FROM 2))),
            CONCAT(<![CDATA['http://nwis.waterdata.usgs.gov/nwis/inventory/?agency_cd=USGS&amp&site_no=']]>,c.site_no) AS station_URI

            FROM
            nwisweb.DV_DD_CONF a,
            nwisweb.SITEFILE c,
            nwisweb.PARAM_REF e,
            nwisweb.STAT d

            <choose>
                  <when test="featureId != null">
                            WHERE c.site_no IN (#{featureId})
                  </when>
<!--                <when test="featureId != null">
                    WHERE c.site_no IN <foreach item="i" collection="featureId" open="(" separator="," close=")">#{i}</foreach>
                </when>-->
                  <when test="bBox0 != null">
                            WHERE c.dec_long_va BETWEEN #{bBox0} AND #{bBox2} AND c.dec_lat_va BETWEEN #{bBox1} AND #{bBox3}
                  </when>

                  <otherwise>
                            WHERE c.site_no IN (
                                    '01427207','01427510','01434000','01438500','01457500','01463500',
                                    '04073365','04073500','04082400','04084445','040851385','05344500',
                                    '05378500','05389500','05391000','05395000','05404000','05407000',
                                    '05420500','05543500','05543830','05545750','05551540','05552500',
                                    '05558300','05568500','05586100','07010000','07020500',
                                    '07022000','05051500','05054000','05082500','04269000','040851385',
                                    '04010500','04024000','04024430','04027000','04027500','04040000','04045500','04059000',
                                    '04059500','04067500','04069500','04071765','04085427','04086000','04087000','04092750','04095090',
                                    '04102500','04121970','04122200','04122500','04137500','04142000','04157000','04159492','04165500',
                                    '04174500','04176500','04193500','04195820','04198000','04199000','04199500','04200500','04201500',
                                    '04208000','04212100','04213500','04218000','04231600','04249000','04260500','04263000','04265432',

                                <!-- NASQAN Coastal Subnetwork -->

                                    '01578310','01646580','02226160','02470500','04264331','07374525',
                                    '07381495','08475000','09522000','11303500','11447650','14246900','15565447'
                                        )
                    </otherwise>
             </choose>
            AND c.site_web_cd = 'Y'
            AND c.site_id = a.site_id
            AND a.parameter_cd = e.parameter_cd
            AND a.access_cd = '0'
            AND d.stat_cd = a.stat_cd

            <if test="observedProperty != null">
                AND a.parameter_cd = (#{observedProperty})
            </if>

            <if test="offering != null">
                AND d.stat_cd = (#{offering})
            </if>

            GROUP BY c.site_no, a.parameter_cd, d.stat_nm
       <if test="offering == null or (offering != null and offering == 'UNIT')">
            UNION

               SELECT
                a.site_no,
                a.agency_cd,
                a.station_nm,
                CONCAT (d.parameter_nm,' (',d.parameter_units,') Continuous') AS parameter_nm,
                CONCAT(d.parameter_nm,' (Unit)') AS parameter_nm_stat,
                CONCAT(d.parameter_cd,'_',a.site_no,'_00000') AS parameterSite,
                'Unit' AS stat_nm,
                CONCAT(<![CDATA['http://nwis.waterdata.usgs.gov/nwis/inventory/?agency_cd=USGS&amp&site_no=']]>,c.site_no) AS station_URI

                FROM (
                    SELECT DISTINCT
                    site_id,
                    site_no,
                    station_nm,
                    dec_long_va,
                    dec_lat_va,
                    agency_cd
                    FROM nwisweb.SITEFILE
                    <choose>
                          <when test="featureId != null">
                                    WHERE site_no IN (#{featureId})
                          </when>
<!--                <when test="featureId != null">
                    WHERE site_no IN <foreach item="i" collection="featureId" open="(" separator="," close=")">#{i}</foreach>
                </when>-->
                          <when test="bBox0 != null">
                                    WHERE dec_long_va BETWEEN #{bBox0} AND #{bBox2} AND dec_lat_va BETWEEN #{bBox1} AND #{bBox3}
                                    AND site_web_cd = 'Y'
                          </when>
                          <otherwise>
                                    WHERE site_no IN (
                                            '01427207','01427510','01434000','01438500','01457500','01463500',
                                            '04073365','04073500','04082400','04084445','040851385','05344500',
                                            '05378500','05389500','05391000','05395000','05404000','05407000',
                                            '05420500','05543500','05543830','05545750','05551540','05552500',
                                            '05558300','05568500','05586100','07010000','07020500',
                                            '07022000','05051500','05054000','05082500','04269000','040851385',
                                            '04010500','04024000','04024430','04027000','04027500','04040000','04045500','04059000',
                                            '04059500','04067500','04069500','04071765','04085427','04086000','04087000','04092750','04095090',
                                            '04102500','04121970','04122200','04122500','04137500','04142000','04157000','04159492','04165500',
                                            '04174500','04176500','04193500','04195820','04198000','04199000','04199500','04200500','04201500',
                                            '04208000','04212100','04213500','04218000','04231600','04249000','04260500','04263000','04265432',

                                        <!-- NASQAN Coastal Subnetwork -->

                                            '01578310','01646580','02226160','02470500','04264331','07374525',
                                            '07381495','08475000','09522000','11303500','11447650','14246900','15565447'
                                                )
                                      AND site_web_cd = 'Y'
                            </otherwise>
                     </choose>
                    ) a,

                    nwisweb.UV b,
                    nwisweb.UV_DD_CONF c,
                    nwisweb.PARAM_REF d

                WHERE a.site_id = b.site_id
                AND b.site_id = c.site_id
                AND b.dd_nu = c.dd_nu
                <if test="observedProperty != null">
                    AND c.parameter_cd = (#{observedProperty})
                </if>

                AND c.access_cd = '0'
                AND c.parameter_cd = d.parameter_cd
                GROUP BY a.site_no, c.parameter_cd
        </if>
                ORDER BY site_no



	</select>

	<select id="dataPropertySelect" parameterType="map" resultMap="dataPropertyMap" fetchSize="1024" useCache="false" resultSetType="FORWARD_ONLY">
            SELECT c.site_no,
            c.station_nm,
            CONCAT (e.parameter_nm,' (',e.parameter_units,') Daily ',CONCAT(UPPER(SUBSTRING(d.stat_nm, 1, 1)), LOWER(SUBSTRING(d.stat_nm FROM 2)))) AS parameter_nm,
            e.parameter_cd,
            CONCAT (e.parameter_nm,' (',CONCAT(UPPER(SUBSTRING(d.stat_nm, 1, 1)), LOWER(SUBSTRING(d.stat_nm FROM 2))),')') AS parameter_nm_stat,
            CONCAT(e.parameter_cd,'_',c.site_no,'_',d.stat_cd) AS parameterSite,
            CONCAT(UPPER(SUBSTRING(d.stat_nm, 1, 1)), LOWER(SUBSTRING(d.stat_nm FROM 2))),
            CONCAT(<![CDATA['http://nwis.waterdata.usgs.gov/usa/nwis/pmcode/pmcodes?radio_pm_search=pm_search&casrn_search=&srsname_search=&format=html_table&show=parameter_group_nm&show=parameter_nm&show=casrn&show=srsname&show=parameter_units&pm_search=']]>,e.parameter_cd) AS parameter_URI

            FROM
            nwisweb.DV_DD_CONF a,
            nwisweb.SITEFILE c,
            nwisweb.PARAM_REF e,
            nwisweb.STAT d

            <choose>
                  <when test="featureId != null">
                            WHERE c.site_no IN (#{featureId})
                  </when>
<!--                <when test="featureId != null">
                    WHERE c.site_no IN <foreach item="i" collection="featureId" open="(" separator="," close=")">#{i}</foreach>
                </when>-->
                  <when test="bBox0 != null">
                            WHERE c.dec_long_va BETWEEN #{bBox0} AND #{bBox2} AND c.dec_lat_va BETWEEN #{bBox1} AND #{bBox3}
                  </when>

                  <otherwise>
                            WHERE c.site_no IN (
                                    '01427207','01427510','01434000','01438500','01457500','01463500',
                                    '04073365','04073500','04082400','04084445','040851385','05344500',
                                    '05378500','05389500','05391000','05395000','05404000','05407000',
                                    '05420500','05543500','05543830','05545750','05551540','05552500',
                                    '05558300','05568500','05586100','07010000','07020500',
                                    '07022000','05051500','05054000','05082500','04269000','040851385',
                                    '04010500','04024000','04024430','04027000','04027500','04040000','04045500','04059000',
                                    '04059500','04067500','04069500','04071765','04085427','04086000','04087000','04092750','04095090',
                                    '04102500','04121970','04122200','04122500','04137500','04142000','04157000','04159492','04165500',
                                    '04174500','04176500','04193500','04195820','04198000','04199000','04199500','04200500','04201500',
                                    '04208000','04212100','04213500','04218000','04231600','04249000','04260500','04263000','04265432',

                                <!-- NASQAN Coastal Subnetwork -->

                                    '01578310','01646580','02226160','02470500','04264331','07374525',
                                    '07381495','08475000','09522000','11303500','11447650','14246900','15565447'
                                        )
                    </otherwise>
             </choose>
            AND c.site_web_cd = 'Y'
            AND c.site_id = a.site_id
            AND a.parameter_cd = e.parameter_cd
            AND a.access_cd = '0'
            AND d.stat_cd = a.stat_cd

            <if test="observedProperty != null">
                AND a.parameter_cd = (#{observedProperty})
            </if>

            <if test="offering != null">
                AND d.stat_cd = (#{offering})
            </if>

            GROUP BY c.site_no, a.parameter_cd, d.stat_nm


       <if test="offering == null or (offering != null and offering == 'UNIT')">
            UNION

            SELECT
            a.site_no,
            a.station_nm,
            CONCAT (d.parameter_nm,' (',d.parameter_units,') Continuous') AS parameter_nm,
            d.parameter_cd,
            CONCAT(d.parameter_nm,' (Unit)') AS parameter_nm_stat,
            CONCAT(d.parameter_cd,'_',a.site_no,'_00000') AS parameterSite,
            'Unit' as stat_nm,
            CONCAT(<![CDATA['http://nwis.waterdata.usgs.gov/usa/nwis/pmcode/pmcodes?radio_pm_search=pm_search&casrn_search=&srsname_search=&format=html_table&show=parameter_group_nm&show=parameter_nm&show=casrn&show=srsname&show=parameter_units&pm_search=']]>,e.parameter_cd) AS parameter_URI

            FROM (
                SELECT DISTINCT
                site_id,
                site_no,
                station_nm,
                dec_long_va,
                dec_lat_va
                FROM nwisweb.SITEFILE
                <choose>
                      <when test="featureId != null">
                                WHERE site_no IN (#{featureId})
                      </when>
<!--                <when test="featureId != null">
                    WHERE site_no IN <foreach item="i" collection="featureId" open="(" separator="," close=")">#{i}</foreach>
                </when>-->
                      <when test="bBox0 != null">
                                WHERE dec_long_va BETWEEN #{bBox0} AND #{bBox2} AND dec_lat_va BETWEEN #{bBox1} AND #{bBox3}
                                AND site_web_cd = 'Y'
                      </when>
                      <otherwise>
                                WHERE site_no IN (
                                        '01427207','01427510','01434000','01438500','01457500','01463500',
                                        '04073365','04073500','04082400','04084445','040851385','05344500',
                                        '05378500','05389500','05391000','05395000','05404000','05407000',
                                        '05420500','05543500','05543830','05545750','05551540','05552500',
                                        '05558300','05568500','05586100','07010000','07020500',
                                        '07022000','05051500','05054000','05082500','04269000','040851385',
                                        '04010500','04024000','04024430','04027000','04027500','04040000','04045500','04059000',
                                        '04059500','04067500','04069500','04071765','04085427','04086000','04087000','04092750','04095090',
                                        '04102500','04121970','04122200','04122500','04137500','04142000','04157000','04159492','04165500',
                                        '04174500','04176500','04193500','04195820','04198000','04199000','04199500','04200500','04201500',
                                        '04208000','04212100','04213500','04218000','04231600','04249000','04260500','04263000','04265432',

                                    <!-- NASQAN Coastal Subnetwork -->

                                        '01578310','01646580','02226160','02470500','04264331','07374525',
                                        '07381495','08475000','09522000','11303500','11447650','14246900','15565447'
                                            )
                                 AND site_web_cd = 'Y'
                        </otherwise>
                 </choose>
                ) a,

                nwisweb.UV b,
                nwisweb.UV_DD_CONF c,
                nwisweb.PARAM_REF d

            WHERE a.site_id = b.site_id
            AND b.site_id = c.site_id
            AND b.dd_nu = c.dd_nu
            <if test="observedProperty != null">
                AND c.parameter_cd = (#{observedProperty})
            </if>

            AND c.access_cd = '0'
            AND c.parameter_cd = d.parameter_cd
            GROUP BY a.site_no, c.parameter_cd
       </if>
            ORDER BY parameter_cd
        
	</select>

</mapper> 

