<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="dataMapper">

	<resultMap id="dataBaseMap" type="XMLMap">
            <result
	    	property="gda:GetDataAvailablity"
	    	column="%ROOT_ELEMENT"
			javaType="string" />
             <result
	    	property="xmlns:gda=http://www.opengis.net/sosgda/1.0"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
	    	property="xmlns:swes=http://www.opengis.net/swes/2.0"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="xmlns:xsi=http://www.w3.org/2001/XMLSchema-instance"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
	    <result
	    	property="xmlns:gml=http://www.opengis.net/gml/3.2"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="xmlns:xlink=http://www.w3.org/1999/xlink"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="xsi:schemaLocation= http://www.opengis.net/sosgda/1.0 ../sosGetDataAvailability.xsd"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
	</resultMap>

	<resultMap id="dataResultMap_1" type="XMLMap" extends="dataBaseMap">
                <association property="UNUSED" column="{featureId=featureId,observedProperty=observedProperty,beginPosition=beginPosition, endPosition = endPosition,offering = offering}" select="dataSelect" javaType="list" />
                <association property="UNUSED" column="{featureId=featureId,observedProperty=observedProperty,beginPosition=beginPosition, endPosition = endPosition,offering = offering}" select="dataPropertySelect" javaType="list" />
                <association property="UNUSED" column="{featureId=featureId,observedProperty=observedProperty,beginPosition=beginPosition, endPosition = endPosition,offering = offering}" select="dataFeatureSelect" javaType="list" />

	</resultMap>
	
	<resultMap id="dataResultMap" type="XMLMap" extends="dataBaseMap">

		<result
			property="^!{gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship"
			column="parameterSite"
			javaType="string" />
		<result
			property="gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship#swes:id=FPTR_ID_%s"
			column="parameterSite"
			javaType="string" />
		<result
			property="gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship/gda:phenomenonTime/gml:TimePeriod#gml:id=TID-%s"
			column="parameter_cd"
			javaType="string" />
		<result
			property="gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship/gda:phenomenonTime/gml:TimePeriod/gml:beginPosition"
			column="BeginPosition"
			javaType="string" />
		<result
			property="gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship/gda:phenomenonTime/gml:TimePeriod/gml:endPosition"
			column="EndPosition"
			javaType="string" />
		<result
			property="gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship/gda:targetFeature#xlink:href=#FID_%s"
			column="site_no"
			javaType="string" />
		<result
			property="gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship/gda:targetFeature#xlink:title"
			column="station_nm"
			javaType="string" />
		<result
			property="gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship/gda:targetProperty#xlink:href=#PID_%s"
			column="parameter_cd"
			javaType="string" />
		<result
			property="}gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship/gda:targetProperty#xlink:title"
			column="parameter_nm"
			javaType="string" />

	</resultMap>

	<resultMap id="dataPropertyMap" type="XMLMap" extends="dataBaseMap">
        	<result
			property="^!{gda:propertyEntryPoint"
			column="parameter_cd"
			javaType="string" />
        	<result
			property="gda:propertyEntryPoint/gda:ObservedPropertyInfo#swes:id=PID_%s"
			column="parameter_cd"
			javaType="string" />
		<result
			property="}gda:propertyEntryPoint/gda:ObservedPropertyInfo/gda:property"
			column="parameter_nm"
			javaType="string" />
		<result
			property="gda:propertyEntryPoint/gda:ObservedPropertyInfo/^gda:observedFor#xlink:href=#FPTR_ID_%s"
			column="parameterSite"
			javaType="string" />
		<result
			property="gda:propertyEntryPoint/gda:ObservedPropertyInfo/gda:observedFor#xlink:title"
			column="station_nm"
			javaType="string" />
        </resultMap>

	<resultMap id="dataFeatureMap" type="XMLMap" extends="dataBaseMap">
        	<result
			property="^!{gda:featureOfInterestEntryPoint"
			column="site_no"
			javaType="string" />
        	<result
			property="gda:featureOfInterestEntryPoint/gda:FeatureOfInterestInfo#swes:id=FID_%s"
			column="site_no"
			javaType="string" />
		<result
			property="}gda:featureOfInterestEntryPoint/gda:FeatureOfInterestInfo/gda:feature"
			column="station_nm"
			javaType="string" />
		<result
			property="gda:featureOfInterestEntryPoint/gda:FeatureOfInterestInfo/^gda:relatedProperty#xlink:href=#FPTR_ID_%s"
			column="parameterSite"
			javaType="string" />
		<result
			property="gda:featureOfInterestEntryPoint/gda:FeatureOfInterestInfo/gda:relatedProperty#xlink:title"
			column="parameter_nm"
			javaType="string" />
        </resultMap>

	<resultMap id="dataHistoryMap" type="XMLMap" extends="dataBaseMap">
        	<result
			property="^!{gda:HistoricalEntryPoint"
			column="site_no"
			javaType="string" />
        	<result
			property="gda:HistoricalEntryPoint/gda:FeatureOfInterestInfo#swes:id=FID_%s"
			column="site_no"
			javaType="string" />
        	<result
			property="}gda:HistoricalEntryPoint/gda:FeatureOfInterestInfo#swes:name"
			column="station_nm"
			javaType="string" />
		<result
			property="gda:HistoricalEntryPoint/gda:FeatureOfInterestInfo/^gda:feature#xlink:ref"
			column="parameter_nm"
			javaType="string" />
		<result
			property="gda:HistoricalEntryPoint/gda:FeatureOfInterestInfo/gda:feature/^gda:TimeValuePair/^gml:Time"
			column="date"
			javaType="string" />
		<result
			property="}gda:HistoricalEntryPoint/gda:FeatureOfInterestInfo/gda:feature/gda:TimeValuePair/^gml:MeanValue"
			column="mean_va"
			javaType="string" />
		<result
			property="}gda:HistoricalEntryPoint/gda:FeatureOfInterestInfo/gda:feature/gda:TimeValuePair/^gml:MinValue"
			column="min_va"
			javaType="string" />
		<result
			property="}gda:HistoricalEntryPoint/gda:FeatureOfInterestInfo/gda:feature/gda:TimeValuePair/^gml:MaxValue"
			column="max_va"
			javaType="string" />
		<result
			property="}gda:HistoricalEntryPoint/gda:FeatureOfInterestInfo/gda:feature/gda:TimeValuePair/^gml:Value20"
			column="p20_va"
			javaType="string" />
		<result
			property="}gda:HistoricalEntryPoint/gda:FeatureOfInterestInfo/gda:feature/gda:TimeValuePair/^gml:Value50"
			column="p50_va"
			javaType="string" />
		<result
			property="}gda:HistoricalEntryPoint/gda:FeatureOfInterestInfo/gda:feature/gda:TimeValuePair/^gml:Value80"
			column="p80_va"
			javaType="string" />
        </resultMap>

        <select id="dataSelect_1" parameterType="map" resultMap="dataResultMap_1" fetchSize="1024" useCache="false" resultSetType="FORWARD_ONLY">
            SELECT
            <choose>
                 <when test="featureId != null">
                    #{featureId[0]} as featureId,
                </when>
                <otherwise>
                    null as featureId,
                </otherwise>
            </choose>
            <choose>
                 <when test="observedProperty != null">
                    #{observedProperty[0]} as observedProperty,
                </when>
                <otherwise>
                    null as observedProperty,
                </otherwise>
            </choose>
            <choose>
                 <when test="beginPosition != null">
                    #{beginPosition[0]} as beginPosition,
                </when>
                <otherwise>
                    null as beginPosition,
                </otherwise>
            </choose>
            <choose>
                 <when test="endPosition != null">
                    #{endPosition[0]} as endPosition,
                </when>
                <otherwise>
                    null as endPosition,
                </otherwise>
            </choose>
            <choose>
                 <when test="offering != null">
                    #{offering[0]} as offering
                </when>
                <otherwise>
                    null as offering
                </otherwise>
            </choose>
            FROM dual

        </select>

	<select id="dataSelect" parameterType="map" resultMap="dataResultMap" fetchSize="1024" useCache="false" resultSetType="FORWARD_ONLY">
            SELECT c.site_no,
            c.station_nm,
            CONCAT (e.parameter_nm,' (',d.stat_nm,')') AS parameter_nm,
            CONCAT (e.parameter_cd,'_',b.stat_cd) AS parameter_cd,
            MIN(b.result_dt) AS BeginPosition,
            MAX(b.result_dt) AS EndPosition,
            CONCAT(e.parameter_cd,'_',c.site_no,'_',b.stat_cd) AS parameterSite

            FROM
            nwisweb.DV_DD_CONF a,
            nwisweb.DV b,
            nwisweb.SITEFILE c,
            nwisweb.PARAM_REF e,
            nwisweb.STAT d

            <choose>
                  <when test="featureId != null">
                            WHERE c.site_no IN (#{featureId})
                  </when>

                  <when test="bBox != null">
                            WHERE c.dec_long_va BETWEEN #{bBox[0]} AND #{bBox[2]} AND c.dec_lat_va BETWEEN #{bBox[1]} AND #{bBox[3]}
                  </when>

                  <otherwise>
                            WHERE c.site_no IN (
                                        '01427207','01427510','01434000','01438500','01457500','01463500'
                                    '04073365','04073500','04082400','04084445','040851385','05344500',
                                    '05378500','05389500','05391000','05395000','05404000','05407000',
                                    '05420500','05543500','05543830','05545750','05551540','05552500',
                                    '05558300','05568500','05586100','07010000','07020500',
                                    '07022000','05051500','05054000','05082500','04269000','040851385',
                                    '04010500','04024000','04024430','04027000','04027500','04040000','04045500','04059000',
                                    '04059500','04067500','04069500','04071765','04085427','04086000','04087000','04092750','04095090',
                                    '04102500','04121970','04122200','04122500','04137500','04142000','04157000','04159492','04165500',
                                    '04174500','04176500','04193500','04195820','04198000','04199000','04199500','04200500','04201500',
                                    '04208000','04212100','04213500','04218000','04231600','04249000','04260500','04263000','04265432'
                                        )
                    </otherwise>
             </choose>

            <if test="observedProperty != null">
                AND a.parameter_cd = (#{observedProperty})
            </if>

            <if test="offering != null">
                AND b.stat_cd = (#{offering})
            </if>

            <if test="beginPosition != null">
                AND b.result_dt <![CDATA[ >= ]]> STR_TO_DATE(#{beginPosition}, '%Y-%m-%d')
            </if>

            <if test="endPosition != null">
                AND b.result_dt <![CDATA[ <= ]]> STR_TO_DATE(#{endPosition}, '%Y-%m-%d')
            </if>

            AND a.site_id = b.site_id
            AND a.dd_nu = b.dd_nu
            AND c.site_id = a.site_id
            AND a.parameter_cd = e.parameter_cd
            AND a.access_cd = '0'
            AND b.stat_cd = d.stat_cd
<!--            AND b.stat_cd = '00003'-->

            GROUP BY c.site_no, a.parameter_cd, d.stat_nm
            ORDER BY a.parameter_cd

	</select>

	<select id="dataFeatureSelect" parameterType="map" resultMap="dataFeatureMap" fetchSize="1024" useCache="false" resultSetType="FORWARD_ONLY">
            SELECT c.site_no,
            c.agency_cd,
            c.station_nm,
            CONCAT (e.parameter_nm,' (',d.stat_nm,')') AS parameter_nm,
            CONCAT(e.parameter_cd,'_',c.site_no,'_',d.stat_cd) AS parameterSite,
            CONCAT(e.parameter_nm,': ',c.station_nm) AS parameterSiteTitle

            FROM
            nwisweb.DV_DD_CONF a,
            nwisweb.DV b,
            nwisweb.SITEFILE c,
            nwisweb.PARAM_REF e,
            nwisweb.STAT d

            <choose>
                  <when test="featureId != null">
                            WHERE c.site_no IN (#{featureId})
                  </when>

                  <when test="bBox != null">
                            WHERE c.dec_long_va BETWEEN #{bBox[0]} AND #{bBox[2]} AND c.dec_lat_va BETWEEN #{bBox[1]} AND #{bBox[3]}
                  </when>

                  <otherwise>
                            WHERE c.site_no IN (
                                        '01427207','01427510','01434000','01438500','01457500','01463500'
                                    '04073365','04073500','04082400','04084445','040851385','05344500',
                                    '05378500','05389500','05391000','05395000','05404000','05407000',
                                    '05420500','05543500','05543830','05545750','05551540','05552500',
                                    '05558300','05568500','05586100','07010000','07020500',
                                    '07022000','05051500','05054000','05082500','04269000','040851385',
                                    '04010500','04024000','04024430','04027000','04027500','04040000','04045500','04059000',
                                    '04059500','04067500','04069500','04071765','04085427','04086000','04087000','04092750','04095090',
                                    '04102500','04121970','04122200','04122500','04137500','04142000','04157000','04159492','04165500',
                                    '04174500','04176500','04193500','04195820','04198000','04199000','04199500','04200500','04201500',
                                    '04208000','04212100','04213500','04218000','04231600','04249000','04260500','04263000','04265432'
                                        )
                    </otherwise>
             </choose>

            AND a.site_id = b.site_id
            AND a.dd_nu = b.dd_nu
            AND c.site_id = a.site_id
            AND a.parameter_cd = e.parameter_cd
            AND a.access_cd = '0'
            AND d.stat_cd = b.stat_cd
<!--            AND b.stat_cd = '00003'-->

            <if test="observedProperty != null">
                AND a.parameter_cd = (#{observedProperty})
            </if>

            <if test="offering != null">
                AND d.stat_cd = (#{offering})
            </if>

            GROUP BY c.site_no, a.parameter_cd, d.stat_nm
            ORDER BY c.site_no

	</select>

	<select id="dataPropertySelect" parameterType="map" resultMap="dataPropertyMap" fetchSize="1024" useCache="false" resultSetType="FORWARD_ONLY">
            SELECT c.site_no,
            CONCAT (e.parameter_nm,' (',d.stat_nm,')') AS parameter_nm,
            e.parameter_cd,
            CONCAT(e.parameter_cd,'_',c.site_no,'_',d.stat_cd) AS parameterSite,
            c.station_nm

            FROM
            nwisweb.DV_DD_CONF a,
            nwisweb.DV b,
            nwisweb.SITEFILE c,
            nwisweb.PARAM_REF e,
            nwisweb.STAT d

            <choose>
                  <when test="featureId != null">
                            WHERE c.site_no IN (#{featureId})
                  </when>

                  <when test="bBox != null">
                            WHERE c.dec_long_va BETWEEN #{bBox[0]} AND #{bBox[2]} AND c.dec_lat_va BETWEEN #{bBox[1]} AND #{bBox[3]}
                  </when>

                  <otherwise>
                            WHERE c.site_no IN (
                                        '01427207','01427510','01434000','01438500','01457500','01463500'
                                    '04073365','04073500','04082400','04084445','040851385','05344500',
                                    '05378500','05389500','05391000','05395000','05404000','05407000',
                                    '05420500','05543500','05543830','05545750','05551540','05552500',
                                    '05558300','05568500','05586100','07010000','07020500',
                                    '07022000','05051500','05054000','05082500','04269000','040851385',
                                    '04010500','04024000','04024430','04027000','04027500','04040000','04045500','04059000',
                                    '04059500','04067500','04069500','04071765','04085427','04086000','04087000','04092750','04095090',
                                    '04102500','04121970','04122200','04122500','04137500','04142000','04157000','04159492','04165500',
                                    '04174500','04176500','04193500','04195820','04198000','04199000','04199500','04200500','04201500',
                                    '04208000','04212100','04213500','04218000','04231600','04249000','04260500','04263000','04265432'
                                        )
                    </otherwise>
             </choose>

            AND a.site_id = b.site_id
            AND a.dd_nu = b.dd_nu
            AND c.site_id = a.site_id
            AND a.parameter_cd = e.parameter_cd
            AND a.access_cd = '0'
            AND d.stat_cd = b.stat_cd
<!--            AND b.stat_cd = '00003'-->
            <if test="observedProperty != null">
                AND a.parameter_cd = (#{observedProperty})
            </if>

            <if test="offering != null">
                AND d.stat_cd = (#{offering})
            </if>

            GROUP BY c.site_no, a.parameter_cd, d.stat_nm
            ORDER BY a.parameter_cd

	</select>

	<select id="dataHistorySelect" parameterType="map" resultMap="dataHistoryMap" fetchSize="1024" useCache="false" resultSetType="FORWARD_ONLY">
            SELECT DISTINCT b.site_no,
                b.station_nm,
                STR_TO_DATE((CONCAT(CONVERT(a.month_nu,CHAR),'-',CONVERT(a.day_nu,CHAR))),'%m-%d') AS date,
                a.p20_va,
                a.p50_va,
                a.p80_va,
                a.max_va,
                a.min_va,
                a.mean_va,
                a.begin_yr,
                a.end_yr,
                c.parameter_cd,
                d.parameter_nm

            FROM nwisweb.DAILY_STAT a,
            nwisweb.SITEFILE b,
            nwisweb.DV_DD_CONF c,
            nwisweb.PARAM_REF d

            <choose>
                  <when test="featureId != null">
                            WHERE b.site_no IN (#{featureId[0]})
                  </when>

                  <when test="bBox != null">
                            WHERE b.dec_long_va BETWEEN #{bBox[0]} AND #{bBox[2]} AND b.dec_lat_va BETWEEN #{bBox[1]} AND #{bBox[3]}
                  </when>

                  <otherwise>
                            WHERE b.site_no IN (
                                        '01427207','01427510','01434000','01438500','01457500','01463500'
                                    '04073365','04073500','04082400','04084445','040851385','05344500',
                                    '05378500','05389500','05391000','05395000','05404000','05407000',
                                    '05420500','05543500','05543830','05545750','05551540','05552500',
                                    '05558300','05568500','05586100','07010000','07020500',
                                    '07022000','05051500','05054000','05082500','04269000','040851385',
                                    '04010500','04024000','04024430','04027000','04027500','04040000','04045500','04059000',
                                    '04059500','04067500','04069500','04071765','04085427','04086000','04087000','04092750','04095090',
                                    '04102500','04121970','04122200','04122500','04137500','04142000','04157000','04159492','04165500',
                                    '04174500','04176500','04193500','04195820','04198000','04199000','04199500','04200500','04201500',
                                    '04208000','04212100','04213500','04218000','04231600','04249000','04260500','04263000','04265432'
                                        )
                    </otherwise>
             </choose>

            <if test="beginPosition != null">
                AND a.month_nu <![CDATA[ >= ]]> DATE_FORMAT(#{beginPosition[0]},'%m')
                AND a.day_nu <![CDATA[ >= ]]> DATE_FORMAT(#{beginPosition[0]},'%d')
            </if>

            <if test="endPosition != null">
                AND a.month_nu <![CDATA[ <= ]]> DATE_FORMAT(#{beginPosition[0]},'%m')
                AND a.day_nu <![CDATA[ <= ]]> DATE_FORMAT(#{beginPosition[0]},'%d')               
            </if>

            <if test="observedProperty != null">
                AND c.parameter_cd = (#{observedProperty[0]})
            </if>
            
            AND d.parameter_cd = c.parameter_cd
            AND a.site_id = b.site_id
            AND a.site_id = c.site_id
            AND a.dd_nu = c.dd_nu

<!--            AND a.month_nu = DATE_FORMAT(SYSDATE(),'%m')
            AND a.day_nu = DATE_FORMAT(SYSDATE(),'%d')-->

	</select>

</mapper> 

