<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="ogcMapper">

	<resultMap id="ogcResultMap" type="XMLMap">
		<result
	    	property="om:ObservationCollection"
	    	column="%ROOT_ELEMENT"
			javaType="string" />
	    <result
	    	property="xmlns:gml=http://www.opengis.net/gml"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
	    <result
	    	property="xmlns:om=http://www.opengis.net/om/1.0"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
	    <result
	    	property="xmlns:sa=http://www.opengis.net/sampling/1.0"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
    		property="xmlns:swe=http://www.opengis.net/swe/1.0.1"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
    		property="xsi:schemaLocation=http://www.opengis.net/om/1.0 http://schemas.opengis.net/om/1.0.0/om.xsd"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
    		property="xmlns:xlink=http://www.w3.org/1999/xlink"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
    		property="xmlns:xsi=http://www.w3.org/2001/XMLSchema-instance"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
    		property="xmlns:wml2=http://www.wron.net.au/waterml2"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
			
	</resultMap>
	
	<resultMap type="XMLMap" id="observationsResultMap" extends="ogcResultMap">
	 	<result
	 		property="^!{om:member"
	 		column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:samplingTime/gml:TimePeriod/gml:beginPosition"
			column="beginPosition"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:samplingTime/gml:TimePeriod/gml:endPosition"
			column="endPosition"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:procedure#xlink:href=urn:ogc:object:Sensor:usgs-gw:%s"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:observedProperty#xlink:href=urn:ogc:def:property:OGC:GroundWaterLevel"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:featureOfInterest/wml2:WaterObservationPoint#id=usgs:%s"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:featureOfInterest/wml2:WaterObservationPoint/^gml:name#codeSpace=urn:ietf:rfc:2141"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:featureOfInterest/wml2:WaterObservationPoint/gml:name"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:featureOfInterest/wml2:WaterObservationPoint/^gml:name#codeSpace=urn:x-ngwd"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:featureOfInterest/wml2:WaterObservationPoint/gml:name=usgs.gov.gw-wells.%s"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:featureOfInterest/wml2:WaterObservationPoint/gml:boundedBy/gml:Envelope#srsName=EPSG:4326"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:featureOfInterest/wml2:WaterObservationPoint/gml:boundedBy/gml:Envelope/gml:pos#srsDimension=2"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:featureOfInterest/wml2:WaterObservationPoint/gml:boundedBy/gml:Envelope/gml:pos"
			column="pos"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:featureOfInterest/wml2:WaterObservationPoint/gml:boundedBy/gml:Envelope/^gml:pos#srsDimension=2"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:featureOfInterest/wml2:WaterObservationPoint/gml:boundedBy/gml:Envelope/gml:pos"
			column="pos"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:featureOfInterest/wml2:WaterObservationPoint/sa:position/gml:Point#srsName=EPSG:4326"
			column="station_id"
			javaType="string" />
		<result
			property="}om:member/wml2:WaterMonitoringObservation/om:featureOfInterest/wml2:WaterObservationPoint/sa:position/gml:Point/gml:pos"
			column="pos"
			javaType="string" />
		<result
			property="{om:member/wml2:WaterMonitoringObservation/om:result/wml2:TimeSeries/wml2:domainExtent/gml:TimePeriod/gml:beginPosition"
			column="beginPosition"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:result/wml2:TimeSeries/wml2:domainExtent/gml:TimePeriod/gml:endPosition"
			column="endPosition"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:result/wml2:TimeSeries/wml2:defaultDataType#codeSpace=http://usgs.gov/water/"
			column="station_id"
			javaType="string" />
		<result
			property="}om:member/wml2:WaterMonitoringObservation/om:result/wml2:TimeSeries/wml2:defaultDataType=InstVal"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:result/wml2:TimeSeries/^wml2:element/wml2:TimeValuePair/wml2:time"
			column="currentPosition"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:result/wml2:TimeSeries/wml2:element/wml2:TimeValuePair/wml2:value/swe:Quantity/swe:uom#code=ft"
			column="value"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:result/wml2:TimeSeries/wml2:element/wml2:TimeValuePair/wml2:value/swe:Quantity/^swe:value"
			column="value"
			javaType="string" />
	</resultMap>
	
	<select id="observationsSelect" parameterType="map" resultMap="observationsResultMap" fetchSize="1024" useCache="false">
		select
			station_id,
			DEC_LONG_VA||' '||DEC_LAT_VA as pos,
			TO_CHAR(first_date,'YYYY-MM-DD')||'T00:00:00+00:00' as beginPosition,
			TO_CHAR(last_date,'YYYY-MM-DD')||'T00:00:00+00:00' as endPosition,
			TO_CHAR(date_desc,'YYYY-MM-DD')||'T00:00:00+00:00' as currentPosition,
			value
		from (
			select
				s.station_id,
				s.DEC_LAT_VA,
				s.DEC_LONG_VA,
				ROW_NUMBER( ) OVER (PARTITION BY s.station_id ORDER BY g.date_desc DESC) myrow,
				MIN(g.date_desc) OVER (PARTITION BY s.station_id ORDER BY g.date_desc) first_date,
				MAX(g.date_desc) OVER (PARTITION BY s.station_id ORDER BY g.date_desc DESC) last_date,
				g.date_desc,
				g.times,
				g.value,
				g.remark
			from (
				select
 					dwh_site_id,
 					AGENCY_CD||'-'||SITE_NO station_id,
 					DEC_LAT_VA,
 					DEC_LONG_VA
 				from
 					nwis_dwh_star.sites_gw_mvw s
 				where (
 					sdo_geom.relate(
 						s.geom,
 						sdo_dim_array(
 						 	sdo_dim_element('X', -180, 180, .005),
 						 	sdo_dim_element('Y', -90, 90, .005)
 						 ),
 						 'anyinteract',
 						 mdsys.sdo_geometry( 2003, 8307, NULL,
 						 	mdsys.sdo_elem_info_array(1,1003,3),
 						 	mdsys.sdo_ordinate_array(${west[0]},${south[0]},${east[0]},${north[0]})
 						 ),
 						 sdo_dim_array(
 						 	sdo_dim_element('X', -180, 180, .005),
 						 	sdo_dim_element('Y', -90, 90, .005)
 						 )
 					) = 'TRUE')
			) s,
 			nwis_dwh_star.gwlevels g
		where
			s.DWH_SITE_ID=g.DWH_SITE_ID
		and
			parameter_cd='72019'
		and
			times is null
		order by
			s.station_id,
			g.date_desc,
			g.times
		)
		where
			myrow<![CDATA[ < ]]>101
	</select>

</mapper> 
