<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="sosMapper">

	<resultMap id="sosResultMap" type="XMLMap">
		<result
	    	property="om:ObservationCollection"
	    	column="%ROOT_ELEMENT"
			javaType="string" />
	    <result
	    	property="xmlns:gml=http://www.opengis.net/gml/3.2"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
	    <result
	    	property="xmlns:om=http://www.opengis.net/om/2.0"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
	    <result
	    	property="xmlns:sa=http://www.opengis.net/sampling/2.0"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
    		property="xmlns:swe=http://www.opengis.net/swe/2.0"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
			<!-- 
		<result
    		property="xsi:schemaLocation=http://www.opengis.net/om/1.0 http://schemas.opengis.net/om/1.0.0/om.xsd"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
			 -->
		<result
    		property="xmlns:xlink=http://www.w3.org/1999/xlink"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
    		property="xmlns:xsi=http://www.w3.org/2001/XMLSchema-instance"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
    		property="xmlns:wml2=http://www.wron.net.au/waterml2"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
    		property="xmlns:md=http://www.isotc211.org/2005/gmd"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
    		property="xmlns:gco=http://www.isotc211.org/2005/gco"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
	</resultMap>
	
	<resultMap id="observationsResultMap" type="XMLMap" extends="sosResultMap">
	 	<result
	 		property="^!{om:member"
	 		column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation#gml:id=usgs.gw.obs.%s"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/gml:identifier#codeSpace=urn:x-usgs:wellname"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/gml:identifier=obs.%s"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:metadata/wml2:ObservationMetadata/md:contact#xlink:href=http://cida.usgs.gov"
			column="dateStamp"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:metadata/wml2:ObservationMetadata/md:dateStamp/gco:Date"
			column="dateStamp"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:metadata/wml2:ObservationMetadata/md:identificationInfo#xlink:href=urn:OGC:unknown"
			column="dateStamp"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:metadata/wml2:ObservationMetadata/wml2:intendedSamplingInterval/gml:TimePeriod#gml:id=invalid.isi.%s"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:metadata/wml2:ObservationMetadata/wml2:intendedSamplingInterval/gml:TimePeriod/gml:beginPosition"
			column="beginPosition"
			typeHandler="ISODateTimeTypeHandler" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:metadata/wml2:ObservationMetadata/wml2:intendedSamplingInterval/gml:TimePeriod/gml:endPosition"
			column="endPosition"
			typeHandler="ISODateTimeTypeHandler" />
			
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:phenomenonTime/gml:TimePeriod#gml:id=invalid.pt.%s"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:phenomenonTime/gml:TimePeriod/gml:beginPosition"
			column="beginPosition"
			typeHandler="ISODateTimeTypeHandler" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:phenomenonTime/gml:TimePeriod/gml:endPosition"
			column="endPosition"
			typeHandler="ISODateTimeTypeHandler" />
			
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:resultTime/gml:TimePeriod#gml:id=invalid.rt.%s"
			column="station_id"
			javaType="string" />		
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:resultTime/gml:TimePeriod/gml:beginPosition"
			column="beginPosition"
			typeHandler="ISODateTimeTypeHandler" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:resultTime/gml:TimePeriod/gml:endPosition"
			column="endPosition"
			typeHandler="ISODateTimeTypeHandler" />
			
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:procedure#xlink:href=urn:ogc:object:Sensor:usgs-gw:%s"
			column="station_id"
			javaType="string" />
			
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:parameter/om:NamedValue/om:name#xlink:href=http://www.opengis.net/req/omxml/2.0/data/samplingGeometry"
			column="pos"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:parameter/om:NamedValue/om:value/gml:Point#srsName=urn:ogc:def:crs:EPSG:4326"
			column="pos"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:parameter/om:NamedValue/om:value/gml:Point#gml:id=invalid.loc.%s"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:parameter/om:NamedValue/om:value/gml:Point/gml:pos"
			column="pos"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:observedProperty#xlink:href=urn:ogc:def:property:OGC:GroundWaterLevel"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:featureOfInterest#xlink:title=Sensor site %s"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:featureOfInterest#xlink:href=http://infotrek.er.usgs.gov/ogc-ie/wfs?request=GetFeature&amp;featureId=%s&amp;typeName=gwml:WaterWell"
			column="station_id"
			javaType="string" />
		<!--result
			property="om:member/wml2:WaterMonitoringObservation/om:featureOfInterest/wml2:WaterObservationPoint/^gml:name#codeSpace=urn:ietf:rfc:2141"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:featureOfInterest/wml2:WaterObservationPoint/gml:name"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:featureOfInterest/wml2:WaterObservationPoint/^gml:name#codeSpace=urn:x-ngwd"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:featureOfInterest/wml2:WaterObservationPoint/gml:name=usgs.gov.gw-wells.%s"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:featureOfInterest/wml2:WaterObservationPoint/gml:boundedBy/gml:Envelope#srsName=urn:ogc:def:crs:EPSG:4326"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:featureOfInterest/wml2:WaterObservationPoint/gml:boundedBy/gml:Envelope/gml:pos#srsDimension=2"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:featureOfInterest/wml2:WaterObservationPoint/gml:boundedBy/gml:Envelope/gml:pos"
			column="pos"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:featureOfInterest/wml2:WaterObservationPoint/gml:boundedBy/gml:Envelope/^gml:pos#srsDimension=2"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:featureOfInterest/wml2:WaterObservationPoint/gml:boundedBy/gml:Envelope/gml:pos"
			column="pos"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:featureOfInterest/wml2:WaterObservationPoint/sa:position/gml:Point#srsName=urn:ogc:def:crs:EPSG:4326"
			column="station_id"
			javaType="string" />
		<result
			property="}om:member/wml2:WaterMonitoringObservation/om:featureOfInterest/wml2:WaterObservationPoint/sa:position/gml:Point/gml:pos"
			column="pos"
			javaType="string" /-->
		<result
			property="{om:member/wml2:WaterMonitoringObservation/om:result/wml2:TimeSeries/wml2:domainExtent/gml:TimePeriod#gml:id=invalid.de.%s"
			column="station_id"
			javaType="string" />
		<result
			property="{om:member/wml2:WaterMonitoringObservation/om:result/wml2:TimeSeries/wml2:domainExtent/gml:TimePeriod/gml:beginPosition"
			column="beginPosition"
			typeHandler="ISODateTimeTypeHandler" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:result/wml2:TimeSeries/wml2:domainExtent/gml:TimePeriod/gml:endPosition"
			column="endPosition"
			typeHandler="ISODateTimeTypeHandler" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:result/wml2:TimeSeries/wml2:defaultDataType#codeSpace=http://usgs.gov/water/"
			column="station_id"
			javaType="string" />
		<result
			property="}om:member/wml2:WaterMonitoringObservation/om:result/wml2:TimeSeries/wml2:defaultDataType=InstVal"
			column="station_id"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:result/wml2:TimeSeries/^wml2:element/wml2:TimeValuePair/wml2:time"
			column="currentPosition"
			typeHandler="ISODateTimeTypeHandler" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:result/wml2:TimeSeries/wml2:element/wml2:TimeValuePair/wml2:value/swe:Quantity/swe:uom#code=%s"
			column="units"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:result/wml2:TimeSeries/wml2:element/wml2:TimeValuePair/wml2:value/swe:Quantity/^swe:value"
			column="value"
			javaType="string" />
		<result
			property="om:member/wml2:WaterMonitoringObservation/om:result/wml2:TimeSeries/wml2:element/wml2:TimeValuePair/wml2:comment"
			column="method_ds"
			javaType="string" />
	</resultMap>
	
	<!-- For a tutorial on analytic functions in Oracle, see http://www.oracle.com/technetwork/issue-archive/2005/05-mar/o25dba-091480.html
	and http://psoug.org/reference/analytic_functions.html
	 -->
	<select id="observationsSelect" parameterType="map" resultMap="observationsResultMap" fetchSize="1024" useCache="false" resultSetType="FORWARD_ONLY">
		SELECT station_id,
			TO_CHAR(sysdate,'YYYY-MM-DD') as dateStamp,
			<!-- 2010.09.08 reversed based on OGC guidance note, pending discussion with OGC HWG IE folks -->
			<!-- http://www.ogcnetwork.net/node/491 -->
		  DEC_LAT_VA||' '||DEC_LONG_VA AS pos,
		  TO_CHAR(first_date,'YYYY-MM-DD')|| 'T' || TO_CHAR(first_date,'HH24:MI') || tz_cd AS beginPosition,
		  TO_CHAR(last_date,'YYYY-MM-DD')|| 'T' || TO_CHAR(last_date,'HH24:MI') || tz_cd AS endPosition,
		  TO_CHAR(date_desc,'YYYY-MM-DD')|| 'T' || TO_CHAR(date_desc,'HH24:MI') || tz_cd AS currentPosition,
		  method_ds,
		  value,
		  report_units AS units
		FROM
		  (SELECT s.station_id,
		    s.DEC_LAT_VA,
		    s.DEC_LONG_VA,
		    <!-- Not sure about this row JIW
		     ROW_NUMBER( ) OVER (PARTITION BY s.station_id ORDER BY to_date(g.dates,'YYYYMMDD') DESC) myrow, -->
		    MIN(g.dates) OVER (PARTITION BY s.station_id) first_date,
		    MAX(g.dates) OVER (PARTITION BY s.station_id) last_date,
		    (g.dates) date_desc,
		    g.method_ds,
		    g.value,
		    n.report_units,
		    s.tz_cd,
		    g.remark
		  FROM
		    (SELECT dwh_site_id,
		      AGENCY_CD
		      ||'-'
		      ||SITE_NO station_id,
		      DEC_LAT_VA,
		      DEC_LONG_VA,
			  tz_cd
		    FROM gw_data_portal.SITES_GW_ALL_MVW s
		    WHERE ( 

		    <choose>
		    	<when test="featureId != null">
		    		s.agency_cd||'.'||s.site_no = #{featureId[0]}
		    	</when>
		    	<when test="west != null">
		    		SDO_FILTER(s.geom, 
						SDO_GEOMETRY(2003, 8307, NULL, 
							SDO_ELEM_INFO_ARRAY(1,1003,3), 
							SDO_ORDINATE_ARRAY(#{west[0]},#{south[0]},#{east[0]},#{north[0]})
						)
		 			) = 'TRUE'
		    	</when>
		    	<otherwise>
		    		1=1
		    	</otherwise>
		    </choose>  
				)
		    ) s,
		    gw_data_portal.gwsi_levels g,
		    gw_data_portal.parmfile_master n
		  WHERE s.DWH_SITE_ID=g.DWH_SITE_ID
		  AND g.parameter_code = n.parameter_code
		  <!--trim prefix="AND (" suffix=")" prefixOverrides="AND"-->
		  <!-- date format example 2008-03-01T17:44:15+00 
		  to_date(#{beginPosition[0]}, 'MM/DD/YYYY')
		  to_date(#{beginPosition[0]}, 'YYYY-MM-DD')
		  TODO: make this a timeStamp
		  -->
			  <if test="beginPosition != null">
				AND g.dates <![CDATA[ >= ]]> to_date(#{beginPosition[0]}, 'YYYY-MM-DD')
			  </if>
			  <if test="endPosition != null">
				AND g.dates <![CDATA[ <= ]]> to_date(#{endPosition[0]}, 'YYYY-MM-DD')
			  </if>
		  <!--/trim-->
		  ORDER BY s.station_id,
		    g.dates

		  )
	</select>
	<!-- Jessica asked that LENGTH(g.dates) = 8 gets taken out. -->

</mapper> 
