<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="UVdataMapper">

	<resultMap id="UVdataBaseMap" type="XMLMap">
            <result
	    	property="gda:GetDataAvailablity"
	    	column="%ROOT_ELEMENT"
			javaType="string" />
             <result
	    	property="xmlns:gda=http://www.opengis.net/sosgda/1.0"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
	    	property="xmlns:swes=http://www.opengis.net/swes/2.0"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="xmlns:xsi=http://www.w3.org/2001/XMLSchema-instance"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
	    <result
	    	property="xmlns:gml=http://www.opengis.net/gml/3.2"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="xmlns:xlink=http://www.w3.org/1999/xlink"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="xsi:schemaLocation= http://www.opengis.net/sosgda/1.0 ../sosGetDataAvailability.xsd"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
	</resultMap>
	
	<resultMap id="UVdataResultMap" type="XMLMap" extends="UVdataBaseMap">

		<result
			property="^!{gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship"
			column="parameterSite"
			javaType="string" />
		<result
			property="gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship#swes:id=FPTR_ID_%s"
			column="parameterSite"
			javaType="string" />
		<result
			property="gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship/gda:phenomenonTime/gml:TimePeriod#gml:id=TID-%s"
			column="parameter_cd"
			javaType="string" />
		<result
			property="gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship/gda:phenomenonTime/gml:TimePeriod/gml:beginPosition"
			column="BeginPosition"
			javaType="string" />
		<result
			property="gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship/gda:phenomenonTime/gml:TimePeriod/gml:endPosition"
			column="EndPosition"
			javaType="string" />
		<result
			property="gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship/gda:targetFeature#xlink:href=#FID_%s"
			column="site_no"
			javaType="string" />
		<result
			property="gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship/gda:targetFeature#xlink:title"
			column="station_nm"
			javaType="string" />
		<result
			property="gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship/gda:targetProperty#xlink:href=#PID_%s"
			column="parameter_cd"
			javaType="string" />
		<result
			property="}gda:featurePropertyRelationship/gda:FeaturePropertyTemporalRelationship/gda:targetProperty#xlink:title"
			column="parameter_nm"
			javaType="string" />

<!--               <association property="UNUSED" column="parameter_cd" select="dataPropertySelect" javaType="list" />
               <association property="UNUSED" column="site_no" select="dataFeatureSelect" javaType="list" />-->

	</resultMap>

	<resultMap id="UVdataPropertyMap" type="XMLMap" extends="UVdataBaseMap">
        	<result
			property="^!{gda:propertyEntryPoint"
			column="parameter_cd"
			javaType="string" />
        	<result
			property="gda:propertyEntryPoint/gda:ObservedPropertyInfo#swes:id=PID_%s"
			column="parameter_cd"
			javaType="string" />
		<result
			property="}gda:propertyEntryPoint/gda:ObservedPropertyInfo/gda:property"
			column="parameter_nm"
			javaType="string" />
		<result
			property="gda:propertyEntryPoint/gda:ObservedPropertyInfo/^gda:observedFor#xlink:href=#FPTR_ID_%s"
			column="parameterSite"
			javaType="string" />
		<result
			property="gda:propertyEntryPoint/gda:ObservedPropertyInfo/gda:observedFor#xlink:title"
			column="station_nm"
			javaType="string" />
        </resultMap>

	<resultMap id="UVdataFeatureMap" type="XMLMap" extends="UVdataBaseMap">
        	<result
			property="^!{gda:featureOfInterestEntryPoint"
			column="site_no"
			javaType="string" />
        	<result
			property="gda:featureOfInterestEntryPoint/gda:FeatureOfInterestInfo#swes:id=FID_%s"
			column="site_no"
			javaType="string" />
		<result
			property="}gda:featureOfInterestEntryPoint/gda:FeatureOfInterestInfo/gda:feature"
			column="station_nm"
			javaType="string" />
		<result
			property="gda:featureOfInterestEntryPoint/gda:FeatureOfInterestInfo/^gda:relatedProperty#xlink:href=#FPTR_ID_%s"
			column="parameterSite"
			javaType="string" />
		<result
			property="gda:featureOfInterestEntryPoint/gda:FeatureOfInterestInfo/gda:relatedProperty#xlink:title"
			column="parameter_nm"
			javaType="string" />
        </resultMap>

<!-- So, for debugging until I figure out associations....choose the 'select' map you want to use, and call it dataSelect-->

<!--	<select id="dataFPTRSelect" parameterType="map" resultMap="dataResultMap" fetchSize="1024" useCache="false" resultSetType="FORWARD_ONLY">-->
	<select id="UVdataSelect" parameterType="map" resultMap="UVdataResultMap" fetchSize="1024" useCache="false" resultSetType="FORWARD_ONLY">
            SELECT c.site_no,
            c.station_nm,
            e.parameter_nm,
            e.parameter_cd,
            MIN(b.result_dt) AS BeginPosition,
            MAX(b.result_dt) AS EndPosition,
            CONCAT(e.parameter_cd,'_',c.site_no) AS parameterSite

            FROM
            nwisweb.UV_DD_CONF a,
            nwisweb.UV b,
            nwisweb.SITEFILE c,
            nwisweb.PARAM_REF e

            <choose>
                  <when test="featureId != null">
                            WHERE c.site_no IN (#{featureId[0]})
                  </when>

                  <when test="bBox != null">
                            WHERE c.dec_long_va BETWEEN #{bBox[0]} AND #{bBox[2]} AND c.dec_lat_va BETWEEN #{bBox[1]} AND #{bBox[3]}
                  </when>

                  <otherwise>
                            WHERE c.site_no IN (
                                        '01427207','01427510','01434000','01438500','01457500','01463500'
                                    '04073365','04073500','04082400','04084445','040851385','05344500',
                                    '05378500','05389500','05391000','05395000','05404000','05407000',
                                    '05420500','05543500','05543830','05545750','05551540','05552500',
                                    '05558300','05568500','05586100','07010000','07020500',
                                    '07022000','05051500','05054000','05082500','04269000','040851385',
                                    '04010500','04024000','04024430','04027000','04027500','04040000','04045500','04059000',
                                    '04059500','04067500','04069500','04071765','04085427','04086000','04087000','04092750','04095090',
                                    '04102500','04121970','04122200','04122500','04137500','04142000','04157000','04159492','04165500',
                                    '04174500','04176500','04193500','04195820','04198000','04199000','04199500','04200500','04201500',
                                    '04208000','04212100','04213500','04218000','04231600','04249000','04260500','04263000','04265432'
                                        )
                    </otherwise>
             </choose>

            <if test="observedProperty != null">
                AND a.parameter_cd = (#{observedProperty[0]})
            </if>

            <if test="beginPosition != null">
                AND b.result_dt <![CDATA[ >= ]]> STR_TO_DATE(#{beginPosition[0]}, '%Y-%m-%d')
            </if>

            <if test="endPosition != null">
                AND b.result_dt <![CDATA[ <= ]]> STR_TO_DATE(#{endPosition[0]}, '%Y-%m-%d')
            </if>

            AND a.site_id = b.site_id
            AND a.dd_nu = b.dd_nu
            AND c.site_id = a.site_id
            AND a.parameter_cd = e.parameter_cd
            AND a.access_cd = '0'

            GROUP BY c.site_no, a.parameter_cd
            ORDER BY a.parameter_cd

	</select>

<!--	<select id="dataSelect" parameterType="map" resultMap="dataPropertyMap" fetchSize="1024" useCache="false" resultSetType="FORWARD_ONLY">-->
	<select id="UVdataPropertySelect" parameterType="map" resultMap="UVdataPropertyMap" fetchSize="1024" useCache="false" resultSetType="FORWARD_ONLY">
            SELECT c.site_no,
            e.parameter_nm,
            e.parameter_cd,
            CONCAT(e.parameter_cd,'_',c.site_no) AS parameterSite,
            c.station_nm

            FROM
            nwisweb.UV_DD_CONF a,
            nwisweb.UV b,
            nwisweb.SITEFILE c,
            nwisweb.PARAM_REF e


            <choose>
                  <when test="featureId != null">
                            WHERE c.site_no IN (#{featureId[0]})
                  </when>

                  <when test="bBox != null">
                            WHERE c.dec_long_va BETWEEN #{bBox[0]} AND #{bBox[2]} AND c.dec_lat_va BETWEEN #{bBox[1]} AND #{bBox[3]}
                  </when>

                  <otherwise>
                            WHERE c.site_no IN (
                                        '01427207','01427510','01434000','01438500','01457500','01463500'
                                    '04073365','04073500','04082400','04084445','040851385','05344500',
                                    '05378500','05389500','05391000','05395000','05404000','05407000',
                                    '05420500','05543500','05543830','05545750','05551540','05552500',
                                    '05558300','05568500','05586100','07010000','07020500',
                                    '07022000','05051500','05054000','05082500','04269000','040851385',
                                    '04010500','04024000','04024430','04027000','04027500','04040000','04045500','04059000',
                                    '04059500','04067500','04069500','04071765','04085427','04086000','04087000','04092750','04095090',
                                    '04102500','04121970','04122200','04122500','04137500','04142000','04157000','04159492','04165500',
                                    '04174500','04176500','04193500','04195820','04198000','04199000','04199500','04200500','04201500',
                                    '04208000','04212100','04213500','04218000','04231600','04249000','04260500','04263000','04265432'
                                        )
                    </otherwise>
             </choose>

            AND a.site_id = b.site_id
            AND a.dd_nu = b.dd_nu
            AND c.site_id = a.site_id
            AND a.parameter_cd = e.parameter_cd
            AND a.access_cd = '0'
            <if test="observedProperty != null">
                AND a.parameter_cd = (#{observedProperty[0]})
            </if>

            GROUP BY c.site_no, a.parameter_cd
            ORDER BY a.parameter_cd

	</select>

	<select id="UVdataFeatureSelect" parameterType="map" resultMap="UVdataFeatureMap" fetchSize="1024" useCache="false" resultSetType="FORWARD_ONLY">
<!--	<select id="dataSelect" parameterType="map" resultMap="dataFeatureMap" fetchSize="1024" useCache="false" resultSetType="FORWARD_ONLY">-->
            SELECT c.site_no,
            c.agency_cd,
            c.station_nm,
            e.parameter_nm,
            CONCAT(e.parameter_cd,'_',c.site_no) AS parameterSite,
            CONCAT(e.parameter_nm,': ',c.station_nm) AS parameterSiteTitle

            FROM
            nwisweb.UV_DD_CONF a,
            nwisweb.UV b,
            nwisweb.SITEFILE c,
            nwisweb.PARAM_REF e

            <choose>
                  <when test="featureId != null">
                            WHERE c.site_no IN (#{featureId[0]})
                  </when>

                  <when test="bBox != null">
                            WHERE c.dec_long_va BETWEEN #{bBox[0]} AND #{bBox[2]} AND c.dec_lat_va BETWEEN #{bBox[1]} AND #{bBox[3]}
                  </when>

                  <otherwise>
                            WHERE c.site_no IN (
                                        '01427207','01427510','01434000','01438500','01457500','01463500'
                                    '04073365','04073500','04082400','04084445','040851385','05344500',
                                    '05378500','05389500','05391000','05395000','05404000','05407000',
                                    '05420500','05543500','05543830','05545750','05551540','05552500',
                                    '05558300','05568500','05586100','07010000','07020500',
                                    '07022000','05051500','05054000','05082500','04269000','040851385',
                                    '04010500','04024000','04024430','04027000','04027500','04040000','04045500','04059000',
                                    '04059500','04067500','04069500','04071765','04085427','04086000','04087000','04092750','04095090',
                                    '04102500','04121970','04122200','04122500','04137500','04142000','04157000','04159492','04165500',
                                    '04174500','04176500','04193500','04195820','04198000','04199000','04199500','04200500','04201500',
                                    '04208000','04212100','04213500','04218000','04231600','04249000','04260500','04263000','04265432'
                                        )
                    </otherwise>
             </choose>

            AND a.site_id = b.site_id
            AND a.dd_nu = b.dd_nu
            AND c.site_id = a.site_id
            AND a.parameter_cd = e.parameter_cd
            AND a.access_cd = '0'

            <if test="observedProperty != null">
                AND a.parameter_cd = (#{observedProperty[0]})
            </if>

            GROUP BY c.site_no, a.parameter_cd
            ORDER BY c.site_no

	</select>

</mapper> 

