<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="wfsMapper">

	<resultMap id="wfsBaseMap" type="XMLMap">
		<result
	    	property="wfs:FeatureCollection"
	    	column="%ROOT_ELEMENT"
			javaType="string" />
	    <result
	    	property="xmlns:wfs=http://www.opengis.net/wfs"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
	    <result
	    	property="xmlns:gml=http://www.opengis.net/gml"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
	    	property="xmlns:gsml=urn:cgi:xmlns:CGI:GeoSciML:2.0"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
	    <result
	    	property="xmlns:gwml=http://www.nrcan.gc.ca/xml/gwml/1"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
	    	property="xmlns:om=http://www.opengis.net/om/1.0"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
	    	property="xmlns:sa=http://www.opengis.net/sampling/1.0"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
    		property="xmlns:xlink=http://www.w3.org/1999/xlink"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
    		property="xmlns:xs=http://www.w3.org/2001/XMLSchema"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
    		property="xmlns:xsi=http://www.w3.org/2001/XMLSchema-instance"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
    		property="xsi:schemaLocation=http://www.opengis.net/om/1.0 http://schemas.opengis.net/om/1.0.0/om.xsd"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
	</resultMap>
	
	<resultMap id="wfsResultMap" type="XMLMap" extends="wfsBaseMap">
	 	<id
	 		property="^!{gml:featureMember"
	 		column="FEATURE_ID"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell#gml:id"
			column="FEATURE_ID"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/^gml:name#codeSpace=urn:gov.usgs.nwis.station_nm"
			column="STATION_NM"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gml:name"
			column="STATION_NM"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/^gml:name#codeSpace=urn:gov.usgs.nwis.agency_cd_site_no"
			column="FEATURE_ID"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gml:name"
			column="FEATURE_ID"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gml:boundedBy/gml:envelope#srsName=EPSG:4326"
			column="LAT_LON"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gml:boundedBy/gml:envelope/gml:pos#srsDimension=2"
			column="LAT_LON"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gml:boundedBy/gml:envelope/gml:pos"
			column="LAT_LON"
			javaType="string" />

        <!-- removed per NLB 05.24.2010, will be put back in later but still needs output validation... -->
		<!--<association property="UNUSED" column="FEATURE_ID" select="wfsRelatedObservationSelect" javaType="list" />-->
			
		<result
			property="gml:featureMember/gwml:WaterWell/sa:position/gml:Point#srsName=EPSG:4326"
			column="LAT_LON_ALT"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/sa:position/gml:Point/gml:pos"
			column="LAT_LON_ALT"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gwml:referenceElevation#uom=urn:ogc:def:uom:UCUM:ft_i"
			column="ALT"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gwml:referenceElevation"
			column="ALT"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/^gwml:wellDepth/gsml:CGI_NumericValue/gsml:principalValue#uom=urn:ogc:def:uom:UCUM:ft_i"
			column="WELL_DEPTH_VA"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gwml:wellDepth/gsml:CGI_NumericValue/gsml:principalValue"
			column="WELL_DEPTH_VA"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/^gwml:wellStatus/gsml:CGI_TermValue/gsml:value#codeSpace=urn:gov.usgs.nwis.alt_datum_cd"
			column="ALT_DATUM_CD"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gwml:wellStatus/gsml:CGI_TermValue/gsml:value"
			column="ALT_DATUM_CD"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/^gwml:wellType/gsml:CGI_TermValue/gsml:value#codeSpace=urn:gov.usgs.nwis.nat_water_use_cd"
			column="NAT_WATER_USE_NAME"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gwml:wellType/gsml:CGI_TermValue/gsml:value"
			column="NAT_WATER_USE_NAME"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gwml:onlineResource#xlink:href=http://waterdata.usgs.gov/nwis/inventory?search_site_no=%s&amp;search_site_no_match_type=exact&amp;sort_key=site_no&amp;group_key=NONE&amp;sitefile_output_format=html_table&amp;column_name=agency_cd&amp;column_name=site_no&amp;column_name=station_nm&amp;format=station_manuscript&amp;list_of_search_criteria=search_site_no"
			column="SITE_NO"
			javaType="string" />
		<result
			property="}gml:featureMember/gwml:WaterWell/gwml:onlineResource#xlink:title=USGS NWIS Database"
			column="SITE_NO"
			javaType="string" />
		
		<association property="UNUSED" column="SITE_NO" select="wfsLogElementSelect" javaType="list" />
			
	</resultMap>
	
	<resultMap id="wfsRelatedObservationResultMap" type="XMLMap">
		<id
			property="gml:featureMember/gwml:WaterWell/sa:relatedObservation/^om:Observation#gml:id"
			column="WATERLEVEL_ID"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/sa:relatedObservation/om:Observation/gml:description=Test Yield"
			column="WATERLEVEL_ID"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/sa:relatedObservation/om:Observation/gml:name#codeSpace=urn:x-ngwd:ab:WaterLevel"
			column="WATERLEVEL_ID"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/sa:relatedObservation/om:Observation/gml:name"
			column="WATERLEVEL_ID"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/sa:relatedObservation/om:Observation/om:samplingTime/gml:TimeInstant/gml:position"
			column="DISC_DT"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/sa:relatedObservation/om:Observation/om:procedure#xlink:href=urn:x-ngwd:procedure:unknown"
			column="WATERLEVEL_ID"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/sa:relatedObservation/om:Observation/om:observedProperty#xlink:href=urn:x-ngwd:def:phenomenon:OGC:WellYield"
			column="WATERLEVEL_ID"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/sa:relatedObservation/om:Observation/om:featureOfInterest#xlink:href"
			column="FEATURE_ID"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/sa:relatedObservation/om:Observation/om:result#xsi:type=gml:MeasureType"
			column="DISC_VA"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/sa:relatedObservation/om:Observation/om:result#uom=urn:x-ngwd:def:uom:gpm_f"
			column="DISC_VA"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/sa:relatedObservation/om:Observation/om:result"
			column="DISC_VA"
			javaType="string" />
	</resultMap>
	
	<resultMap id="wfsLogElementResultMap" type="XMLMap">
		<id
			property="gml:featureMember/gwml:WaterWell/^gwml:logElement/gsml:MappedInterval/gsml:observationMethod/gsml:CGI_TermValue/gsml:value#codeSpace=urn:x-ngwd:classifier:GIN:ObservationMethod"
			column="HYDROSTRUNIT_ID"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gwml:logElement/gsml:MappedInterval/gsml:observationMethod/gsml:CGI_TermValue/gsml:value=borehole"
			column="HYDROSTRUNIT_ID"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gwml:logElement/gsml:MappedInterval/gsml:specification/gwml:HydrostratigraphicUnit#gml:id"
			column="HYDROSTRUNIT_ID"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gwml:logElement/gsml:MappedInterval/gsml:specification/gwml:HydrostratigraphicUnit/gml:description"
			column="LITH_NAME"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gwml:logElement/gsml:MappedInterval/gsml:specification/gwml:HydrostratigraphicUnit/gsml:observationMethod/gsml:CGI_TermValue/gsml:value#codeSpace=urn:x-ngwd:classifier:GIN:ObservationMethod"
			column="HYDROSTRUNIT_ID"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gwml:logElement/gsml:MappedInterval/gsml:specification/gwml:HydrostratigraphicUnit/gsml:observationMethod/gsml:CGI_TermValue/gsml:value=borehole"
			column="HYDROSTRUNIT_ID"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gwml:logElement/gsml:MappedInterval/gsml:specification/gwml:HydrostratigraphicUnit/gsml:purpose=instance"
			column="HYDROSTRUNIT_ID"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gwml:logElement/gsml:MappedInterval/gsml:specification/gwml:HydrostratigraphicUnit/gsml:composition/gsml:CompositionPart/gsml:role#codeSpace=urn:x-ngwd:classifier:GIN:Role"
			column="LITH_NAME"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gwml:logElement/gsml:MappedInterval/gsml:specification/gwml:HydrostratigraphicUnit/gsml:composition/gsml:CompositionPart/gsml:role=contains"
			column="LITH_NAME"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gwml:logElement/gsml:MappedInterval/gsml:specification/gwml:HydrostratigraphicUnit/gsml:composition/gsml:CompositionPart/gsml:lithology/gsml:ControlledConcept/gml:name#codeSpace=urn:x-ngwd:classifierScheme:USGS:Lithology:2010"
			column="LITH_NAME"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gwml:logElement/gsml:MappedInterval/gsml:specification/gwml:HydrostratigraphicUnit/gsml:composition/gsml:CompositionPart/gsml:lithology/gsml:ControlledConcept/gml:name#xml:lang=eng"
			column="LITH_NAME"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gwml:logElement/gsml:MappedInterval/gsml:specification/gwml:HydrostratigraphicUnit/gsml:composition/gsml:CompositionPart/gsml:lithology/gsml:ControlledConcept/gml:name"
			column="LITH_NAME"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gwml:logElement/gsml:MappedInterval/gsml:specification/gwml:HydrostratigraphicUnit/gsml:composition/gsml:CompositionPart/gsml:material/gsml:UnconsolidatedMaterial/gml:name"
			column="LITH_NAME"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gwml:logElement/gsml:MappedInterval/gsml:specification/gwml:HydrostratigraphicUnit/gsml:composition/gsml:CompositionPart/gsml:material/gsml:UnconsolidatedMaterial/gsml:purpose=instance"
			column="LITH_NAME"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gwml:logElement/gsml:MappedInterval/gsml:specification/gwml:HydrostratigraphicUnit/gsml:composition/gsml:CompositionPart/gsml:proportion/gsml:CGI_TermValue/gsml:value#codeSpace=urn:ietf:rfc:2141"
			column="LITH_NAME"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gwml:logElement/gsml:MappedInterval/gsml:specification/gwml:HydrostratigraphicUnit/gsml:composition/gsml:CompositionPart/gsml:proportion/gsml:CGI_TermValue/gsml:value=urn:ogc:def:nil:OGC:unknown"
			column="LITH_NAME"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gwml:logElement/gsml:MappedInterval/gsml:shape/gml:LineString#srsDimension=1"
			column="LITH_TOP_BOTTOM"
			javaType="string" />
		<result
			property="gml:featureMember/gwml:WaterWell/gwml:logElement/gsml:MappedInterval/gsml:shape/gml:LineString/gml:coordinates"
			column="LITH_TOP_BOTTOM"
			javaType="string" />
	</resultMap>
	
	<select id="wfsSelect" parameterType="map" resultMap="wfsResultMap" fetchSize="1024" useCache="false" resultSetType="FORWARD_ONLY">
		SELECT DISTINCT
			s.AGENCY_CD||'.'||s.SITE_NO AS FEATURE_ID,
			s.SITE_NO AS SITE_NO,
			TRIM(s.STATION_NM) AS STATION_NM,
			<!-- 2010.09.08 reversed based on OGC guidance note, pending discussion with OGC HWG IE folks -->
			<!-- http://www.ogcnetwork.net/node/491 -->
			s.DEC_LAT_VA||' '||s.DEC_LONG_VA AS LAT_LON,
			s.DEC_LAT_VA||' '||s.DEC_LONG_VA||' '||s.ALT_VA AS LAT_LON_ALT,
			s.ALT_VA AS ALT,
			s.ALT_DATUM_CD,
			s.WELL_DEPTH_VA,
			s.NAT_WATER_USE_NAME
		FROM
			NWIS_DWH_STAR.SITES_GW_ALL_MVW s
		WHERE 1 = 0
		<trim prefix="OR (" suffix=")" prefixOverrides="AND">
			<if test="bBox != null">
		AND s.DEC_LONG_VA BETWEEN #{bBox[0]} AND #{bBox[2]} AND s.DEC_LAT_VA BETWEEN #{bBox[1]} AND #{bBox[3]} 
			</if>
			<if test="featureId != null">
        AND s.SITE_NO = #{featureId}
			</if>
			<if test="maxFeatures != null">
		AND ROWNUM<![CDATA[ <= ]]> #{maxFeatures}
			</if>
		</trim>	
	    ORDER BY
			STATION_NM
	</select>
	
	<select id="wfsLogElementSelect" parameterType="map" resultMap="wfsLogElementResultMap" fetchSize="1024" useCache="false" resultSetType="FORWARD_ONLY">
		SELECT DISTINCT
    		s.AGENCY_CD||'.'||s.SITE_NO||'.'||g.GEOH_SEQ_NU||'.'||g.AQFR_SEQ_NU AS HYDROSTRUNIT_ID,
			g.LITH_NM as LITH_NAME,
			TRIM(g.LITH_TOP_VA)||' '||TRIM(g.LITH_BOTTOM_VA) AS LITH_TOP_BOTTOM,
			g.LITH_TOP_VA
		FROM
			NWIS_DWH_STAR.SITES_GW_ALL_MVW s
		INNER JOIN
			NWIS_DWH_STAR.GWSI_GEOH_AQFR g ON s.DWH_SITE_ID = g.DWH_SITE_ID
		WHERE 
			s.SITE_NO = #{site_no}
		AND
			g.LITH_TOP_VA IS NOT NULL
		AND
			g.LITH_BOTTOM_VA IS NOT NULL
		ORDER BY
			g.LITH_TOP_VA
	</select>
	
	<!--
	<select id="wfsRelatedObservationSelect" parameterType="map" resultMap="wfsRelatedObservationResultMap" fetchSize="1024" useCache="false" resultSetType="FORWARD_ONLY">
		SELECT DISTINCT
			s.MY_SITEID AS FEATURE_ID,
			s.MYWATERLEVELID AS WATERLEVEL_ID,
			s.DISC_SEQ_NU,
			s.DISC_DT
		FROM
			NWIS_DWH_STAR.SITES_GW_MVW_DETAIL s
		WHERE
		 	s.MY_SITEID = #{featureId}
		AND 
		    s.DISC_SEQ_NU IS NOT NULL
		ORDER BY
			s.DISC_SEQ_NU
	</select>
-->

</mapper> 
