<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="wfsMapper">

	<resultMap id="wfsBaseMap" type="XMLMap">
		<result
	    	property="wfs:FeatureCollection"
	    	column="%ROOT_ELEMENT"
			javaType="string" />
	    <result
	    	property="xmlns:wfs=http://www.opengis.net/wfs/2.0"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
	    <result
	    	property="xmlns:gml=http://www.opengis.net/gml/3.2"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
	    	property="xmlns:gsml=urn:cgi:xmlns:CGI:GeoSciML:2.0"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
	    	property="xmlns:om=http://www.opengis.net/om/2.0"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
	    	property="xmlns:sa=http://www.opengis.net/sampling/2.0"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
    		property="xmlns:xlink=http://www.w3.org/1999/xlink"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
    		property="xmlns:xs=http://www.w3.org/2001/XMLSchema"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
		<result
    		property="xmlns:xsi=http://www.w3.org/2001/XMLSchema-instance"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="xmlns:wml2=http://www.opengis.net/waterml/2.0"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="xmlns:gmd=http://www.isotc211.org/2005/gmd"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="xmlns:sf=http://www.opengis.net/sampling/2.0"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="xmlns:sams=http://www.opengis.net/samplingSpatial/2.0"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
<!-- Dynamic Root attributes? -->
                <result
    		property="timeStamp=2011-11-11"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
<!--              <result
    		property="timeStamp=%s"
    		column="currentPosition"
			javaType="string" />
 -->
                <result
    		property="numberMatched=1"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
                <result
    		property="numberReturned=1"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />

                <result
    		property="xsi:schemaLocation= http://www.opengis.net/om/2.0 ../observation.xsd
http://www.opengis.net/gml/3.2 http://schemas.opengis.net/gml/3.2.1/gml.xsd
http://www.opengis.net/sampling/2.0 ../samplingFeature.xsd
http://www.opengis.net/waterml/2.0 ../waterml2.xsd
http://www.opengis.net/swe/2.0 http://schemas.opengis.net/sweCommon/2.0/swe.xsd"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
	</resultMap>
	
	<resultMap id="wfsResultMap" type="XMLMap" extends="wfsBaseMap">
<!--
                 <id
	 		property="^!{wfs:boundedBy"
	 		column="coord_datum"
			javaType="string" />
-->
                <result
			property="^!{wfs:boundedBy/gml:Envelope"
			column="coord_datum"
			javaType="string" />
                <result
			property="wfs:boundedBy/gml:Envelope#srsName=%s"
			column="coord_datum"
			javaType="string" />
                <result
			property="wfs:boundedBy/gml:Envelope/gml:lowerCorner"
			column="lower"
			javaType="string" />
		<result
			property="wfs:boundedBy/gml:Envelope/gml:upperCorner"
			column="upper"
			javaType="string" />
		<result
			property="}^!{wfs:member/om:featureOfInterest/^gml:name"
			column="station_nm"
			javaType="string" />
		<result
			property="wfs:member/om:featureOfInterest/gml:name"
			column="station_nm"
			javaType="string" />
		<result
			property="wfs:member/om:featureOfInterest/^wml2:WaterMonitoringPoint#gml:id=USGS.WMP.%s"
			column="site_no"
			javaType="string" />
		<result
			property="wfs:member/om:featureOfInterest/wml2:WaterMonitoringPoint/^sf:sampledFeature#xlink:ref=%s"
			column="state_site"
			typeHandler="USGS_URL_TypeHandler" />
		<result
			property="wfs:member/om:featureOfInterest/wml2:WaterMonitoringPoint/sf:parameter/om:NamedValue/om:name#xlink:title=Watershed"
			column="huc_nm"
			javaType="string" />
		<result
			property="wfs:member/om:featureOfInterest/wml2:WaterMonitoringPoint/sf:parameter/om:NamedValue/om:value"
			column="huc_nm"
			javaType="string" />
		<result
			property="wfs:member/om:featureOfInterest/wml2:WaterMonitoringPoint/sams:shape/^gml:Point#gml:id=USGS.P.%s"
			column="site_no"
			javaType="string" />
		<result
			property="wfs:member/om:featureOfInterest/wml2:WaterMonitoringPoint/sams:shape/gml:Point/^gml:pos#srsName=urn:ogc:def:crs:EPSG:4269"
			column="LON_LAT"
			javaType="string" />
		<result
			property="wfs:member/om:featureOfInterest/wml2:WaterMonitoringPoint/sams:shape/gml:Point/gml:pos"
			column="LON_LAT"
			javaType="string" />
		<result
			property="wfs:member/om:featureOfInterest/wml2:WaterMonitoringPoint/^wml2:descriptionReference#xlink:href=http://external.opengis.org/twiki_public/bin/view/HydrologyDWG/SurfacewaterInteroperabilityExperiment#Use_Case_2"
			column="site_no"
			javaType="string" />
		<result
			property="wfs:member/om:featureOfInterest/wml2:WaterMonitoringPoint/wml2:descriptionReference#xlink:title=This wiki page describes the IE"
			column="site_no"
			javaType="string" />
		<result
			property="wfs:member/om:featureOfInterest/wml2:WaterMonitoringPoint/wml2:timeZone/wml2:TimeZone/^wml2:zoneOffset"
			column="tz_utc_offset_tm"
			javaType="string" />
		<result
			property="}wfs:member/om:featureOfInterest/wml2:WaterMonitoringPoint/wml2:timeZone/wml2:TimeZone/^wml2:zoneAbbreviation"
			column="tz_cd"
			javaType="string" />
		<result
			property="}wfs:member/om:featureOfInterest/wml2:WaterMonitoringPoint/wml2:owner/gmd:organisationName/^gmd:CharacterString=%s Water Science Center"
			column="district_cd"
			typeHandler="StateFullNameTypeHandler" />

	</resultMap>

	<select id="wfsSelect" parameterType="map" resultMap="wfsResultMap" fetchSize="1024" useCache="false" resultSetType="FORWARD_ONLY">
		SELECT a.site_no, 
		a.station_nm AS STATION_NM,
		CONCAT(CONVERT(a.dec_lat_va,CHAR),' ',CONVERT(a.dec_long_va,CHAR)) AS LON_LAT, 
                a.district_cd,
                CONCAT(a.state_cd,'.',a.site_no) as state_site,
                a.tz_cd,
                s.lowerPosition AS lower,
                s.upperPosition AS upper,
                b.tz_utc_offset_tm,
                c.huc_nm,
                (CASE
                    WHEN a.dec_coord_datum_cd = 'NAD83' THEN 'urn:ogc:def:crs:EPSG:4269'
                    ELSE a.dec_coord_datum_cd
                END) coord_datum

		FROM (           
                    <choose>
                        
                        <when test="bBox != null">
                             SELECT b.site_no,
                             CONCAT(#{bBox[0]},' ', #{bBox[1]}) as lowerPosition,
                             CONCAT(#{bBox[2]},' ', #{bBox[3]}) as upperPosition
                             FROM nwisweb.SITEFILE b
                             WHERE b.site_no = '01446500'
                        </when>
                        
                        <otherwise>
                            SELECT b.site_no,
                            CONCAT(MAX(b.dec_lat_va),' ',MIN(b.dec_long_va)) as lowerPosition,
                            CONCAT(MIN(b.dec_lat_va),' ',MAX(b.dec_long_va)) as upperPosition
                            FROM nwisweb.SITEFILE b
                            <choose>
                                <when test="featureId != null">
                                    WHERE b.site_no IN (#{featureId})
                                </when>

                                <when test="bBox != null">
                                    WHERE b.dec_long_va BETWEEN #{bBox[0]} AND #{bBox[2]} AND b.dec_lat_va BETWEEN #{bBox[1]} AND #{bBox[3]}
                                </when>

                                <when test="boatersInfo != null">
                                    WHERE b.site_no IN (
                                        '04031000','04043275','04065106','04067958','04074950',
                                        '03497300','03498500','03538830','03539600',
                                        '03566000','03528000','03409500','03527220','03566525',
                                        '03455000','03461500','03467609','03415000',
                                        '03535000','03535400','03410210','03465500',
                                        '03518500','03539778','03539800','03540500','02398000','03544970',
                                        '03479000','03453500','03460000','03459500','03450000','03451500',
                                        '03456991','03456100','03513000','03505550','03503000','03504000',
                                        '02399200','02399200','02176930','02177000','02178400','02181580',
                                        '04043126','04043150','04043238','04040000','04033000','04027000'
                                        )
                                </when>


                                <otherwise>
                                    WHERE b.site_no IN (

                                    '01427207','01427510','01434000','01438500','01457500','01463500',
                                    '04073365','04073500','04082400','04084445','040851385','05344500',
                                    '05378500','05389500','05391000','05395000','05404000','05407000',
                                    '05420500','05543500','05543830','05545750','05551540','05552500',
                                    '05558300','05568500','05586100','07010000','07020500',
                                    '07022000','05051500','05054000','05082500','04269000','040851385',
                                    '04010500','04024000','04024430','04027000','04027500','04040000','04045500','04059000',
                                    '04059500','04067500','04069500','04071765','04085427','04086000','04087000','04092750','04095090',
                                    '04102500','04121970','04122200','04122500','04137500','04142000','04157000','04159492','04165500',
                                    '04174500','04176500','04193500','04195820','04198000','04199000','04199500','04200500','04201500',
                                    '04208000','04212100','04213500','04218000','04231600','04249000','04260500','04263000','04265432',

                                <!-- NASQAN Coastal Subnetwork -->

                                    '01578310','01646580','02226160','02470500','04264331','07374525',
                                    '07381495','08475000','09522000','11303500','11447650','14246900','15565447'
                                    )
                                </otherwise>
                            </choose>
                        </otherwise>

                      </choose>                             
                ) s,

                nwisweb.SITEFILE a,
                nwisweb.TZ b,
                nwisweb.HUCS c

              <choose>
                    <when test="featureId != null">
                        WHERE a.site_no IN (#{featureId})
                    </when>
                    
                    <when test="bBox != null">
                        WHERE a.dec_long_va BETWEEN #{bBox[0]} AND #{bBox[2]} AND a.dec_lat_va BETWEEN #{bBox[1]} AND #{bBox[3]} 
                    </when>

                    <when test="boatersInfo != null">
                                    WHERE a.site_no IN (
                                        '04031000','04043275','04065106','04067958','04074950',
                                        '03497300','03498500','03538830','03539600',
                                        '03566000','03528000','03409500','03527220','03566525',
                                        '03455000','03461500','03467609','03415000',
                                        '03535000','03535400','03410210','03465500',
                                        '03518500','03539778','03539800','03540500','02398000','03544970',
                                        '03479000','03453500','03460000','03459500','03450000','03451500',
                                        '03456991','03456100','03513000','03505550','03503000','03504000',
                                        '02399200','02399200','02176930','02177000','02178400','02181580',
                                        '04043126','04043150','04043238','04040000','04033000','04027000'
                                        )
                     </when>

                    <otherwise>
                        WHERE a.site_no IN (

                                    '01427207','01427510','01434000','01438500','01457500','01463500',
                                    '04073365','04073500','04082400','04084445','040851385','05344500',
                                    '05378500','05389500','05391000','05395000','05404000','05407000',
                                    '05420500','05543500','05543830','05545750','05551540','05552500',
                                    '05558300','05568500','05586100','07010000','07020500',
                                    '07022000','05051500','05054000','05082500','04269000','040851385',
                                    '04010500','04024000','04024430','04027000','04027500','04040000','04045500','04059000',
                                    '04059500','04067500','04069500','04071765','04085427','04086000','04087000','04092750','04095090',
                                    '04102500','04121970','04122200','04122500','04137500','04142000','04157000','04159492','04165500',
                                    '04174500','04176500','04193500','04195820','04198000','04199000','04199500','04200500','04201500',
                                    '04208000','04212100','04213500','04218000','04231600','04249000','04260500','04263000','04265432'

                                     <!-- NASQAN Coastal Subnetwork -->

                                    '01578310','01646580','02226160','02470500','04264331','07374525','07381495','08475000','09522000','11303500','11447650','14246900','15565447'
                                     
                                    )
                    </otherwise>
                </choose>

                AND a.tz_cd = b.tz_cd
                AND c.huc_cd = a.huc_cd
                AND c.state_cd = a.state_cd
<!---		<trim prefix="OR (" suffix=")" prefixOverrides="AND">
			<if test="bBox != null">
                            AND a.DEC_LONG_VA BETWEEN #{bBox[0]} AND #{bBox[2]} AND a.DEC_LAT_VA BETWEEN #{bBox[1]} AND #{bBox[3]}
			</if>
			<if test="featureId != null">
                            AND a.site_no = #{featureId[0]}
			</if>
			<if test="maxFeatures != null">
                            AND ROWNUM<![CDATA[ <= ]]> #{maxFeatures}
			</if>
		</trim>
-->
	</select>
</mapper> 

