<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="wml2Mapper">

	<resultMap id="wml2ResultMap" type="XMLMap">
            <result
	    	property="wml2:WaterMonitoringObservation"
	    	column="%ROOT_ELEMENT"
			javaType="string" />
	    <result
	    	property="xmlns:gml=http://www.opengis.net/gml/3.2"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
	    <result
	    	property="xmlns:om=http://www.opengis.net/om/2.0"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
	    <result
	    	property="xmlns:sa=http://www.opengis.net/sampling/2.0"
	    	column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="xmlns:swe=http://www.opengis.net/swe/2.0"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="xmlns:xlink=http://www.w3.org/1999/xlink"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="xmlns:xsi=http://www.w3.org/2001/XMLSchema-instance"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="xmlns:wml2=http://www.opengis.net/waterml/2.0"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="xmlns:md=http://www.isotc211.org/2005/gmd"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="xmlns:gco=http://www.isotc211.org/2005/gco"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="xmlns:sf=http://www.opengis.net/sampling/2.0"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="xmlns:sams=http://www.opengis.net/samplingSpatial/2.0"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
            <result
    		property="gml:id=Simple_Example"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />


 <!-- Since om 2.0, sampling 2.0, samplingSpatial 2.0 are not approved, these locations go to my local computer.  Before going public, this should be changed...
 "xsi:schemaLocation=http://www.opengis.net/waterml/2.0 ../schemas/waterml_2/waterml2.xsd" is simply what the Austrialia guys use
 -->
<!--		<result
    		property="xsi:schemaLocation=http://www.opengis.net/waterml/2.0 ../schemas/waterml_2/waterml2.xsd"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
-->
            <result
    		property="xsi:schemaLocation= http://www.opengis.net/om/2.0 ../observation.xsd
http://www.opengis.net/gml/3.2 http://schemas.opengis.net/gml/3.2.1/gml.xsd
http://www.opengis.net/sampling/2.0 ../samplingFeature.xsd
http://www.opengis.net/waterml/2.0 ../waterml2.xsd
http://www.opengis.net/swe/2.0 http://schemas.opengis.net/sweCommon/2.0/swe.xsd"
    		column="%ROOT_ELEMENT_ATTRIBUTE"
			javaType="string" />
	</resultMap>

	<resultMap id="observationsResultMap" type="XMLMap" extends="wml2ResultMap">

		<result
			property="^!{gml:name"
			column="station_nm"
			javaType="string" />
		<result
			property="gml:name#codeSpace=http://www.opengis.net/waterml/2.0/examples"
			column="station_nm"
			javaType="string" />
		<result
			property="gml:name"
			column="station_nm"
			javaType="string" />

		<result
			property="^!{om:metadata/wml2:ObservationMetadata/md:contact"
			column="station_nm"
			javaType="string" />
		<result
			property="om:metadata/wml2:ObservationMetadata/md:contact#xlink:href=http://cida.usgs.gov"
			column="station_nm"
			javaType="string" />
		<result
			property="om:metadata/wml2:ObservationMetadata/md:dateStamp/gco:Date"
			column="dateStamp"
			javaType="string" />
		<result
			property="om:metadata/wml2:ObservationMetadata/md:identificationInfo#xlink:href=urn:OGC:unknown"
			column="dateStamp"
			javaType="string" />
		<result
			property="om:phenomenonTime/gml:TimePeriod#gml:id=ts_period"
			column="station_nm"
			javaType="string" />
		<result
			property="om:phenomenonTime/gml:TimePeriod/gml:beginPosition"
			column="beginPosition"
			typeHandler="ISODateTimeTypeHandler" />
		<result
			property="om:phenomenonTime/gml:TimePeriod/gml:endPosition"
			column="endPosition"
			typeHandler="ISODateTimeTypeHandler" />
<!-- ResultTime "describes when the results were available", I'm not sure if this should be now, or endPosition-->
		<result
			property="om:resultTime/gml:TimeInstant#gml:id=result_time"
			column="station_nm"
			javaType="string" />
		<result
			property="om:resultTime/gml:TimeInstant/gml:timePosition"
			column="currentTimeStamp"
			typeHandler="ISODateTimeTypeHandler" />
<!-- TODO: look for a procedure: process used to make the observation.  The procedure may be the sensor type or specific instance-->
                <result
			property="om:procedure#xlink:href=http://www.usgs.gov"
			column="station_nm"
			javaType="string" />
		<result
			property="om:procedure#xlink:title=Surface water discharge"
			column="station_nm"
			javaType="string" />
                <result
			property="om:observedProperty#xlink:href=urn:ogc:def:phenomenon:OGC:stage"
			column="station_nm"
			javaType="string" />
		<result
			property="om:observedProperty#xlink:title=%s"
			column="parameter_nm"
			javaType="string" />
		<result
			property="om:featureOfInterest/wml2:WaterMonitoringPoint#gml:id=ID_1"
			column="station_nm"
			javaType="string" />
<!-- TODO: make this an actual website, which needs the state code, might have to do down below -->
                <result
                        property="om:featureOfInterest/wml2:WaterMonitoringPoint/sf:sampledFeature#xlink:href=%s"
 			column="state_site"
			typeHandler="StateCodeTypeHandler" />
                <result
                        property="om:featureOfInterest/wml2:WaterMonitoringPoint/sams:shape/gml:Point#gml:id=st1p"
 			column="station_nm"
			javaType="string" />
                <result
                        property="om:featureOfInterest/wml2:WaterMonitoringPoint/sams:shape/gml:Point/gml:pos#srsName=urn:ogc:def:crs:EPSG:4326"
 			column="pos"
			javaType="string" />
                <result
                        property="om:featureOfInterest/wml2:WaterMonitoringPoint/sams:shape/gml:Point/gml:pos"
 			column="pos"
			javaType="string" />
<!-- TODO: figure out an appropriate link/title: -->
                <result
                        property="om:featureOfInterest/wml2:WaterMonitoringPoint/wml2:descriptionReference#xlink:href=http://external.opengis.org/twiki_public/bin/view/HydrologyDWG/SurfacewaterInteroperabilityExperiment#Use_Case_2"
 			column="station_nm"
			javaType="string" />
                <result
                        property="om:featureOfInterest/wml2:WaterMonitoringPoint/wml2:descriptionReference#xlink:title=This wiki page describes the IE"
 			column="station_nm"
			javaType="string" />
		<result
			property="om:featureOfInterest/wml2:WaterMonitoringPoint/wml2:timeZone/wml2:TimeZone/wml2:zoneOffset"
			column="beginPosition"
			typeHandler="TimeZoneTypeHandler" />
                <result
			property="om:featureOfInterest/wml2:WaterMonitoringPoint/wml2:timeZone/wml2:TimeZone/wml2:zoneAbbreviation"
			column="zoneAbbreviation"
			javaType="string" />
		<result
			property="om:result/wml2:Timeseries#gml:id=time_series_1"
			column="station_nm"
			javaType="string" />
		<result
			property="om:result/wml2:Timeseries/wml2:domainExtent#xlink:href=ts_period"
			column="station_nm"
			javaType="string" />
<!-- TODO: figure out if this should be something from the database, if not, either take it out or figure out a better way to put in a constant -->
                <result
			property="om:result/wml2:Timeseries/wml2:aggregationDuration"
			column="aggregationDuration"
			javaType="string" />
		<result
			property="om:result/wml2:Timeseries/wml2:defaultTimeValuePair/wml2:TimeValuePair/wml2:unitOfMeasure#xlink:href=%s"
			column="units"
			javaType="string" />
		<result
			property="om:result/wml2:Timeseries/wml2:defaultTimeValuePair/wml2:TimeValuePair/wml2:quality#xlink:href=http://www.opengis.net/WaterML2.0/def/quality/unchecked"
			column="station_nm"
			javaType="string" />
		<result
			property="om:result/wml2:Timeseries/wml2:defaultTimeValuePair/wml2:TimeValuePair/wml2:quality#xlink:title=unchecked data"
			column="station_nm"
			javaType="string" />
		<result
			property="om:result/wml2:Timeseries/wml2:defaultTimeValuePair/wml2:TimeValuePair/wml2:dataType#xlink:href=http://www.opengis.net/WaterML2.0/def/timeseriesType/AveragePrec"
			column="station_nm"
			javaType="string" />
		<result
			property="om:result/wml2:Timeseries/wml2:defaultTimeValuePair/wml2:TimeValuePair/wml2:dataType#xlink:title=Average in preceeding interval"
			column="station_nm"
			javaType="string" />
		<result
			property="om:result/wml2:Timeseries/wml2:defaultTimeValuePair/wml2:TimeValuePair/wml2:processing#xlink:href=http://www.opengis.net/WaterML2.0/def/processing/raw"
			column="station_nm"
			javaType="string" />
		<result
			property="}om:result/wml2:Timeseries/wml2:defaultTimeValuePair/wml2:TimeValuePair/wml2:processing#xlink:title=As measured data"
			column="station_nm"
			javaType="string" />
		<result
			property="om:result/wml2:Timeseries/^wml2:point/wml2:TimeValuePair/^wml2:time"
			column="currentPosition"
			typeHandler="ISODateTimeTypeHandler" />
		<result
			property="om:result/wml2:Timeseries/wml2:point/wml2:TimeValuePair/^wml2:value"
			column="value"
			javaType="string" />
<!-- Make this ice/other warning flags? -->
                <result
			property="om:result/wml2:Timeseries/wml2:point/wml2:TimeValuePair/^wml2:comment"
			column="parameter_nm"
			javaType="string" />
                        
	</resultMap>
	
	<!-- For a tutorial on analytic functions in Oracle, see http://www.oracle.com/technetwork/issue-archive/2005/05-mar/o25dba-091480.html
	and http://psoug.org/reference/analytic_functions.html
	 -->
	<select id="observationsSelect" parameterType="map" resultMap="observationsResultMap" fetchSize="1024" useCache="false" resultSetType="FORWARD_ONLY">
		select f.station_nm,
                'P15M' as aggregationDuration,
                f.site_no,
                f.tz_cd as zoneAbbreviation,
                CONCAT(f.state_cd,'.',f.site_no) as state_site,
		STR_TO_DATE(SYSDATE(),'%Y-%m-%d') as dateStamp,
                SYSDATE() as currentTimeStamp,
		CONCAT(CONVERT(f.DEC_LAT_VA,CHAR),' ',CONVERT(f.DEC_LONG_VA,CHAR)) AS pos,
                CONCAT(CONVERT(DATE_FORMAT(s.startTime,'%Y-%m-%dT%H:%i'),CHAR),f.tz_cd) AS beginPosition,
                CONCAT(CONVERT(DATE_FORMAT(s.endTime,'%Y-%m-%dT%H:%i'),CHAR),f.tz_cd) AS endPosition,
		CONCAT(CONVERT(DATE_FORMAT(g.result_dt,'%Y-%m-%dT%H:%i'),CHAR),f.tz_cd) as currentPosition,
		g.result_va as value,
		d.parameter_units as units,
		d.parameter_nm
		
		FROM
		    (select b.site_id,
		    MIN(a.result_dt) as startTime,
                    MAX(a.result_dt) as endTime
              
		    FROM nwisweb.UV a,
		    nwisweb.SITEFILE b
		    
		    <!--WHERE b.site_no ='01427207'-->
              <choose>
                    <when test="featureId != null">
                        WHERE b.site_no IN (#{featureId[0]})
                    </when>
                    <!--  I'm not sure this is a good idea
                    <when test="west != null">
				WHERE SDO_FILTER(s.geom,
						SDO_GEOMETRY(2003, 8307, NULL,
							SDO_ELEM_INFO_ARRAY(1,1003,3),
							SDO_ORDINATE_ARRAY(#{west[0]},#{south[0]},#{east[0]},#{north[0]})
                                                            )
				 		) = 'TRUE'
		    </when>	-->

                    <otherwise>
                        WHERE b.site_no IN ('01427207')
                    </otherwise>

                </choose>

                <if test="beginPosition != null">
                        AND a.result_dt <![CDATA[ >= ]]> STR_TO_DATE(#{beginPosition[0]}, '%Y-%m-%d')
		</if>

                <if test="endPosition != null">
			AND a.result_dt <![CDATA[ <= ]]> STR_TO_DATE(#{endPosition[0]}, '%Y-%m-%d')
                </if>

                        AND a.site_id = b.site_id
                        GROUP BY a.site_id) s,
		    
		nwisweb.UV g,
		nwisweb.PARAM_REF d,
		nwisweb.UV_DD_CONF e,
		nwisweb.SITEFILE f
		
		WHERE s.site_id = g.site_id and f.site_id = s.site_id and e.site_id = s.site_id
		AND d.parameter_cd = e.parameter_cd and e.dd_nu = g.dd_nu and e.parameter_cd = '00060'

                <if test="beginPosition != null">
                        AND g.result_dt <![CDATA[ >= ]]> STR_TO_DATE(#{beginPosition[0]}, '%Y-%m-%d')
		</if>

                <if test="endPosition != null">
			AND g.result_dt <![CDATA[ <= ]]> STR_TO_DATE(#{endPosition[0]}, '%Y-%m-%d')
                </if>

		ORDER BY f.station_nm, currentPosition DESC
	  
	</select>

</mapper> 

