<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <!--    <display-name>OGC SWIE {Owner: NB, Coder: LD}</display-name>-->
    <description>OGC SWIE</description>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/**/*Context.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>gov.usgs.webservices.util.PermGenCleanupListener</listener-class>
    </listener>
    <!--    <servlet>
        <servlet-name>SOSServlet</servlet-name>
        <servlet-class>gov.usgs.cida.ogc.SOSServlet</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>WFSServlet</servlet-name>
        <servlet-class>gov.usgs.cida.ogc.WFSServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UVServlet</servlet-name>
        <servlet-class>gov.usgs.cida.ogc.UVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DVServlet</servlet-name>
        <servlet-class>gov.usgs.cida.ogc.DVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WML2DVServlet</servlet-name>
        <servlet-class>gov.usgs.cida.ogc.WML2DVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WML2UVServlet</servlet-name>
        <servlet-class>gov.usgs.cida.ogc.WML2UVServlet</servlet-class>
    </servlet>
    <!--    <servlet-mapping>
        <servlet-name>SOSServlet</servlet-name>
        <url-pattern>/sos</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>WFSServlet</servlet-name>
        <url-pattern>/wfs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UVServlet</servlet-name>
        <url-pattern>/uv/sos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DVServlet</servlet-name>
        <url-pattern>/dv/sos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WML2DVServlet</servlet-name>
        <url-pattern>/wml2/dv/sos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WML2UVServlet</servlet-name>
        <url-pattern>/wml2/uv/sos</url-pattern>
    </servlet-mapping>
    <resource-ref>
        <res-ref-name>jdbc/wsdb01</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
