<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app SYSTEM "C:\Documents and Settings\ilinkuo\my documents\Downloads\web-app_2_3.dtd">
<web-app>
	<display-name>OGC GWIE {Owner: NB, Coder: TK}</display-name>
	<description>OGC GWIE</description>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/**/*Context.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>gov.usgs.webservices.util.PermGenCleanupListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>OGCServlet</servlet-name>
		<display-name>OGCServlet</display-name>
		<description>Handler for OGC SOS service</description>
		<servlet-class>gov.usgs.cida.ogc.OGCServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WFSServlet</servlet-name>
		<display-name>WFSServlet</display-name>
		<description>Handler for OGC WFS service</description>
		<servlet-class>gov.usgs.cida.ogc.WFSServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OGCServlet</servlet-name>
		<url-pattern>/sosbbox</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WFSServlet</servlet-name>
		<url-pattern>/wfs</url-pattern>
	</servlet-mapping>
</web-app>
